.btn-edit-banner {
  background-color: #17a2b8;
  border: none !important;
  border-radius: 5px;
  height: 35px;
  box-shadow: 1px 3px 1px #b6b5ab;
}

.img-thumbnail-banner {
  width: 300px !important;
  height: 100px !important;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
}

.select-code-phone {
  width: 300px !important;
  height: 40px !important;
}
