.div-header-banner {
  display: flex;
  flex-direction: row;

  .field-search {
    width: 80%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 15px;
    align-items: center;
  }
}

.icon-menu {
  color: #000;
}

.text-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #19202c;
}

.img-unlock-banner {
  width: 50px;
  height: 50px;
}
