.div-contai-wallet {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;

  .text-beginnig {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
  }

  .div-wallet-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .div-item-wallet {
      display: flex;
      justify-content: space-between;
      border-right: 1px solid #000000;
      width: 33%;
      padding: 0px 10px;

      .text-name-wallet {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #727272;
        text-decoration: none;
      }

      .text-money-remainder {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #fb942e;
        text-decoration: none;
      }

      .text-money-gift {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #fb422e;
        text-decoration: none;
      }
    }
    .div-item-wallet-last {
      display: flex;
      justify-content: space-between;
      width: 33%;
      padding: 0px 10px;

      .text-name-wallet {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #727272;
        text-decoration: none;
      }

      .text-money-paypoint {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #d931ff;
        text-decoration: none;
      }
    }
  }
}
