@import "../../../src/@theme/style.scss";

.filter-data {
  display: flex;
  gap: $gapL;
  background-color: white;
  padding: 16px;
  border-radius: $borderRadiusM;

  .filter-data__left {
    width: 50%;
    display: flex;
    gap: $gapM;
    // font-size: $textFontSizeM;
    // font-weight: $fontWeightL;

    .filter-data__left--date-time-picker {
      display: flex;
      flex-direction: column;
      gap: $gapXS;

      span {
        font-weight: $fontWeightXL;
        font-size: $textFontSizeM;
      }

      .filter-data__left--date-time-picker-label {
        display: flex;
        gap: $gapS;

        .filter-data__left--date-time-picker-label-period-time {
          display: flex;
          gap: $gapXS;
          justify-content: center;
          align-items: center;
          border: 1px solid $colorBorderAntDesign;
          border-radius: $borderRadiusS;
          padding: 6.5px 12px;

          .filter-data__left--date-time-picker-label-period-time-sub {
            font-size: $textFontSizeM;
            font-weight: $fontWeightL;
            color: $colorGray;
            opacity: $opacityM;
          }

          .filter-data__left--date-time-picker-label-period-time-main {
            font-size: $textFontSizeM;
            font-weight: $fontWeightL;
            // color: $colorGray;
            // opacity: $opacityM;
          }
        }
      }
    }

    .filter-data__left--data-filter-option {
      display: flex;
      flex-direction: column;
      gap: $gapXS;

      span {
        font-weight: $fontWeightXL;
        font-size: $textFontSizeM;
      }
    }
  }
  .filter-data__right {
    width: 50%;
  }
}