.div-header-customer {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  justify-content: space-between;

  .title-cv {
    color: black;
    font-weight: 400;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
}

.div-container-customer {
  background-color: white;
  border-radius: 15px;
  width: 99%;
  margin: 10px;
  padding: 10px;
}
