.div-header-customer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;

  .title-cv {
    color: black;
    font-weight: 400;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
}

.div-container-customer {
  background-color: white;
  border-radius: 15px;
  width: 99%;
  margin: 10px;
  padding: 10px;

  .div-tab-customer {
    display: flex;
    flex-direction: row;

    .div-item-tab {
      padding: 5px;

      .text-tab {
        color: rgb(159, 159, 159);
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto";
        text-decoration: none;
      }
    }

    .div-item-tab-select {
      padding: 5px;
      border-bottom: 1px solid blue;

      .text-tab {
        color: rgb(0, 0, 0);
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto";
        text-decoration: none;
      }
    }
  }
}
