.img_customer {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 5px;
}

.text-name-modal {
  font-size: medium;
  color: orangered;
  margin-left: 5px;
  margin-right: 5px;
}

.default_address {
  width: 400px;
}

.btn-service {
  border: none;
  background-color: transparent;
  color: blue;
}
