.text-total-star {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #11263c !important;
  text-decoration: none;
  margin-top: 20px;

  .icon-star {
    color: rgb(255, 235, 54);
  }
}
