.div-logo {
    display: flex;
    justify-content: center;
    height: 80px;
    // border-bottom: 3px solid #274C8D;

    img {
        --tw-scale-x: 1.2;
        --tw-scale-y: 1.2;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

.div-logo-collapse {
    display: flex;
    justify-content: center;
    height: 80px;
    // border-bottom: 3px solid white  ;

    img {
        --tw-scale-x: 0.8;
        --tw-scale-y: 0.8;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}