.text-id-view-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px !important;
  color: #023e8a;
}

.div-service-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-service {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
    align-self: center;
  }
}

.div-create-order {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-create {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
}

.div-worktime-order {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-worktime {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #023e8a;
    text-transform: capitalize;
  }
}

.text-address-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
}
.text-collaborator {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #023e8a;
}

.div-name-order-cutomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .text-name-customer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
  }
  .text-phone-order-customer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
}

.text-pen-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ece200 !important;
  text-decoration: none;
}

.text-confirm-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #023e8a;
  text-decoration: none;
}

.text-doing-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #023e8a;
  text-decoration: none;
}

.text-cancel-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ff0000a6;
  text-decoration: none;
}
.text-done-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00cf3a;
  text-decoration: none;
}

.filter-input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.div-name-order {
  display: flex;
  flex-direction: column;

  .div-name-star {
    display: flex;
    flex-direction: row;
    .div-star {
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      .text-star {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
      }
      .icon-star {
        color: #f2cc0e;
        width: 10px;
        height: 10px;
      }
    }

    .text-collaborator {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #023e8a;
    }
  }

  .text-phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000 !important;
  }
}

.text-payment-method {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000 !important;
}

.div-plus {
  display: flex;
  flex-direction: column;

  .div-text-plus {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-plus-order {
      width: 70px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #000000 !important;
    }
    .text-plus-order-ctv {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #000000;
      text-decoration-line: underline;
    }
    .text-plus-order {
      display: block;
      width: 250px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #000000 !important;

      .text-day {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #000000 !important;
        text-transform: capitalize;
      }
    }
  }
}

.text-pending-search {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000 !important;
}

@media screen and (max-width: 1440px) {
  .text-address-order {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: black;
    display: block;
    width: 150px;
    text-decoration: none;
  }
}

.div-pagination-order {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
