.img-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.select-code-phone {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  border-color: rgb(216, 216, 216);
}

.add {
  display: flex;
  .withdraw {
    margin-left: 20px;
  }
}

.icon-edit {
  color: rgb(126, 126, 126);
  opacity: 0.5;
}

.btn-confirm {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-radius: 5px;
  background-color: aquamarine;
}

.body-modal {
  display: flex;
  flex-direction: column;
}

.text-name-modal {
  font-size: medium;
  color: orangered;
  margin-left: 5px;
  margin-right: 5px;
}

.icon-topup {
  color: rgb(43, 159, 121) !important;
  margin-right: 10px;
  width: 15px !important;
  height: 15px !important;
}

.text-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: rgb(43, 159, 121) !important;
}

.icon-withdraw {
  color: #ff0000 !important;
  margin-right: 10px;
  width: 15px !important;
  height: 15px !important;
}

.text-withdraw {
  color: #ff0000 !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.text-done-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #00cf3a;
  text-decoration: none;
}

.text-cancel-topup-ctv {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ff0000 !important;
  text-decoration: none;
}

.text-pending-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ecd503 !important;
  text-decoration: none;
}

.text-transfered {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #19129a !important;
  text-decoration: none;
}

.div-name-topup {
  display: flex;
  flex-direction: column;

  .text-name-topup {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
  }

  .text-phone-topup {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000 !important;
    text-decoration: none;
  }
}

.div-total {
  display: flex;
  flex-direction: column;

  .total-revenue {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;

    .text-money-revenue {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-decoration: none;
      margin-left: 10px;
    }

    .icon-up {
      color: #00cf3a;
    }
  }
  .total-expenditure {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;

    .text-money-expenditure {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-decoration: none;
      margin-left: 10px;
    }
    .icon-down {
      color: #ff0000;
    }
  }
}

.div-header-topup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  .input-search-topup {
    height: 40px;
    width: 70%;
    margin-left: 10%;
  }
}

.div-date {
  display: flex;
  flex-direction: row;

  .picker {
    width: 300px;
  }
}

.text-name-verify {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.text-id {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.text-description-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 250px;
}

.text-money-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.div-time-topup {
  display: flex;
  flex-direction: column;

  .text-time {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
  }
}
