.div-total {
  display: flex;
  flex-direction: column;

  .total-revenue {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;

    .text-money-revenue {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-decoration: none;
      margin-left: 10px;
    }

    .icon-up {
      color: #00cf3a;
    }
  }
  .total-expenditure {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;

    .text-money-expenditure {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-decoration: none;
      margin-left: 10px;
    }
    .icon-down {
      color: #ff0000;
    }
  }
}
