.btn-create-extend {
  display: flex;
  float: right;
  margin-bottom: 20px;
}

.title-input-extend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #19202c;
}

.img-thumbnail {
  width: 100px;
  height: 1000px;
}

.div-item-price-area {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}

.div-item-holiday {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}
