.gradient-header {
  background: linear-gradient(
    360deg,
    rgb(255, 255, 250) 34%,
    rgb(253, 255, 215) 80%
  );
  width: 100%;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  margin-top: 10px;

  .card-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
