.btn-modal-customer {
  width: 15%px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-left: 20px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
}

.textInput {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid #dddd;
}

.text-edit {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.text-edit-hide {
  display: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
