@import "../../../../@theme/style.scss";

.affiliate-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: fit-content;
    height: 100vh;
    width: 100%;
    background-color: #4158D0;
    background: linear-gradient(120deg, #C584FD 20%, #db94ff 50%, #7B97FE 70%, #6CD4FE 100%);
    overflow: auto;

    .affiliate-overview__introduction {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: all 1.5s ease;
        opacity: 1;
        overflow: hidden;

        &.hide {

            .affiliate-overview__introduction--phone {
                height: 0;
                width: 0;
                opacity: 0;
            }

            .affiliate-overview__introduction--wave {
                // height: 0;
                // width: 0;
                opacity: 0;
                z-index: -1;
            }

            .affiliate-overview__introduction--star {
                z-index: 0;
            }

            .affiliate-overview__introduction--blank {
                height: 75vh;
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;
                transition: all 1.5s ease;
                z-index: 1;

                .affiliate-overview__introduction--blank-label {
                    height: 0;
                    width: 0;
                    z-index: 0;
                    visibility: hidden;
                    display: none;
                }

                .affiliate-overview__introduction--blank-header {
                    opacity: 1;
                }

                &.hide {
                    height: 0px;
                    opacity: 0;
                    z-index: -1;
                }

                ;
            }

            .affiliate-overview__introduction--header {
                opacity: 1;
            }
        }

        .affiliate-overview__introduction--line {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 200px;
            height: 200px;
            // transform: rotate(-15deg);
            // overflow: hidden;
        }

        .affiliate-overview__introduction--header {
            display: flex;
            flex-direction: column;
            padding: 12px;
            z-index: 1;

            .affiliate-overview__introduction--header-navigation {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: fit-content;

                .affiliate-overview__introduction--header-navigation-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $colorWhite;
                    padding: 16px;
                    transition: all 1.5s ease;
                    width: 40%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    span {
                        font-family: "Work Sans", serif;
                        font-size: $textFontSize4XL;
                        font-weight: 700;
                        color: $colorDarkViolet;
                        text-transform: uppercase;
                    }

                    &.left-side {
                        border-radius: 10px 0px 0px 10px;
                    }

                    &.right-side {
                        border-radius: 0px 10px 10px 0px;
                    }

                    &.disable {
                        background-color: $colorExtraLightGray;
                        opacity: .5;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                        span {
                            color: $colorBlack;
                        }
                    }

                    &.activated {
                        transform: scale(1.02);
                    }
                }

            }

            .affiliate-overview__introduction--header-information {
                display: flex;
                align-items: center;
                gap: $gapXS;
                padding: 12px;

                .affiliate-overview__introduction--header-information-personal {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    height: fit-content;
                    gap: $gapXS;

                    .affiliate-overview__introduction--header-information-personal-label {
                        font-size: $textFontSize4XL;
                        font-weight: $fontWeight2XL;
                        color: #3E00BA;
                    }

                    .affiliate-overview__introduction--header-information-personal-sub-label {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightXL;
                        color: #3E00BA;
                    }
                }

                .affiliate-overview__introduction--header-information-assistant {
                    width: 40%;
                    height: fit-content;
                }
            }
        }

        .affiliate-overview__introduction--star {
            position: absolute;
            top: 0;
            left: 0;
            height: 400px;
            width: 350px;
            transition: all 1.5s ease;
        }

        .affiliate-overview__introduction--phone {
            position: absolute;
            bottom: 35%;
            left: 50%;
            z-index: 1;
            height: 400px;
            width: 400px;
            transform: translateX(-50%) translateY(40%) rotate(0deg);
            transition: all 1.5s ease;
        }

        .affiliate-overview__introduction--blank {
            display: flex;
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding: 12px;
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 0px;
            left: 0;
            gap: $gapL;
            background-color: $colorWhite;
            transition: all 1.5s ease;
            overflow-y: scroll;

            .affiliate-overview__introduction--blank-header {
                display: flex;
                flex-direction: column;
                gap: $gapXS;
                align-items: center;
                justify-content: center;
                opacity: 0;
                padding: 4px 12px;

                span {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeight2XL;
                    color: $colorBlack;
                }

                .affiliate-overview__introduction--blank-header-text-border {
                    text-shadow:
                        1px 1px 0 #b71eff,
                        -1px -1px 0 #b71eff,
                        1px -1px 0 #b71eff,
                        -1px 1px 0 #b71eff;
                    font-size: $textFontSize4XL;
                    font-weight: $fontWeight2XL;
                    font-family: "Work Sans", serif;
                    color: $colorWhite;
                    text-transform: uppercase;
                }

                .affiliate-overview__introduction--blank-header-text-neon {
                    font-size: $textFontSize4XL;
                    font-weight: $fontWeight2XL;
                    font-family: "Work Sans", serif;
                    color: $colorWhite;
                    text-transform: uppercase;
                    text-shadow:
                        2px 2px 5px #38b6ff,
                        4px 4px 10px #38b6ff;
                }

                &.hide {
                    opacity: 0;
                    z-index: -1;
                }
            }

            .affiliate-overview__introduction--blank-label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: $gapXS;

                span {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorBlack;
                }
            }

            .affiliate-overview__introduction--blank-button {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 16px;
                background-color: #C584FD;
                border-radius: $borderRadiusL;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                cursor: pointer;
                transition: all 1.5s ease;
                width: 100%;
                height: fit-content;

                &:hover {
                    background-color: $colorViolet;
                }

                span {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorWhite;
                }

                &.hide {
                    background-color: black;
                    height: 0;
                    width: 0;
                    z-index: 0;
                    visibility: hidden;
                    display: none;
                }

            }

            .affiliate-overview__introduction--blank-child {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: $gapL;
                padding: 0px;
                // background-color: $colorExtraLightGray;
                opacity: 1;
                transition: all 1.5s ease;

                &.hide {
                    display: none;
                    width: 0px;
                    height: 0px;
                    opacity: 0;
                }

                .affiliate-overview__introduction--blank-child-container {
                    background-color: $colorExtraLightGray;
                    border-radius: $borderRadiusXL;
                    border: 1px solid white;
                    padding: 8px;
                    transition: all 1.5s ease;
                    width: 50%;

                    &:hover {
                        transform: scale(1.05);
                    }

                    .affiliate-overview__introduction--blank-child-promotion {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        align-items: center;
                        background-color: $colorWhite;
                        border-radius: $borderRadiusL;
                        border: 4px solid $colorViolet;
                        padding: 6px;
                        width: 100%;
                        gap: $gapXS;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        .affiliate-overview__introduction--blank-child-promotion-tag-name {
                            position: absolute;
                            top: -16px;
                            left: -8px;
                            z-index: 1;

                            span {
                                font-family: "Work Sans", serif;
                                font-size: $textFontSizeXL;
                                font-weight: 700;
                                color: $colorWhite;
                            }
                        }

                        .affiliate-overview__introduction--blank-child-promotion-tag {
                            position: absolute;
                            top: -23px;
                            left: -15px;
                            width: 150px;
                            height: fit-content;
                        }

                        .affiliate-overview__introduction--blank-child-promotion-image {
                            width: 100px;
                            height: 100px;
                        }

                        .affiliate-overview__introduction--blank-child-promotion-benefit {
                            display: flex;
                            align-items: center;
                            gap: $gapXS;
                            width: 100%;
                            max-width: 200px;

                            .affiliate-overview__introduction--blank-child-promotion-benefit-icon {
                                font-size: $textFontSizeXL;
                                font-weight: $fontWeightL;
                                color: $colorGreen;
                            }

                            .affiliate-overview__introduction--blank-child-promotion-benefit-label {
                                font-size: $textFontSizeM;
                                font-weight: $fontWeightXL;
                                color: $colorBlack;
                            }
                        }

                        .affiliate-overview__introduction--blank-child-promotion-share {
                            display: flex;
                            align-items: center;
                            gap: $gapXS;
                            padding: 4px;
                            background-color: $colorWhite;
                            border-radius: $borderRadiusL;
                            // border: 2px solid $colorYellow;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                            cursor: pointer;
                            transition: all 1.5s ease;

                            &:hover {
                                background-color: $colorViolet;

                                span {
                                    color: $colorWhite;
                                }
                            }

                            img {
                                height: 30px;
                                width: 30px;
                            }

                            span {
                                font-size: $textFontSizeL;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: $colorViolet;
                            }
                        }
                    }
                }
            }

            .affiliate-overview__introduction--blank-guide {
                margin-top: 16px;
                padding: 8px;
                width: 100%;
                height: fit-content;
                background-color: $colorMoreLightGray;
                border-radius: $borderRadiusXL;

                .affiliate-overview__introduction--blank-guide-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: $colorWhite;
                    border: 4px solid $colorViolet;
                    border-radius: $borderRadiusL;

                    .affiliate-overview__introduction--blank-guide-container-tag-label {
                        position: absolute;
                        z-index: 1;
                        width: 230px;

                        span {
                            font-family: "Work Sans", serif;
                            font-size: $textFontSizeXL;
                            font-weight: 700;
                            color: $colorWhite;
                            text-transform: uppercase;
                        }

                        &.one-line {
                            top: -20px;
                            left: -10px;
                        }

                        &.two-line {
                            top: -27px;
                            left: -10px;
                        }
                    }

                    .affiliate-overview__introduction--blank-guide-container-tag {
                        position: absolute;
                        top: -33px;
                        left: -20px;
                        width: 230px;
                        height: fit-content;
                    }

                    .affiliate-overview__introduction--blank-guide-container-child {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        // Bên trái
                        .affiliate-overview__introduction--blank-guide-container-child-left {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 70%;
                            padding: 20px 0px 12px 12px;
                            gap: $gapXS;


                            .affiliate-overview__introduction--blank-guide-container-child-left-content {
                                display: flex;
                                height: 100%;
                                width: 100%;
                                gap: $gapXS;

                                .affiliate-overview__introduction--blank-guide-container-child-left-content-bullet-points {
                                    width: 30px;
                                    height: fit-content;
                                }


                                .affiliate-overview__introduction--blank-guide-container-child-left-content-label {
                                    display: flex;
                                    align-items: center;
                                    padding-top: 2px;

                                    span {
                                        font-size: $textFontSizeL;
                                        font-weight: $fontWeightXL;
                                        color: $colorViolet;

                                        .high-light {
                                            font-weight: $fontWeight2XL;
                                            color: $colorDarkViolet;
                                        }
                                    }

                                }
                            }

                        }

                        // Bên phải
                        .affiliate-overview__introduction--blank-guide-container-child-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 4px;
                            height: 100%;
                            width: 30%;

                            .affiliate-overview__introduction--blank-guide-container-child-right-container {
                                background-color: $colorExtraLightGray;
                                border-radius: $borderRadiusXL;
                                border: 0px solid white;
                                padding: 0px;
                                transition: all 1.5s ease;
                                height: fit-content;
                                width: fit-content;

                                // &:hover {
                                //     transform: scale(1.05);
                                // }

                                .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion {
                                    display: flex;
                                    position: relative;
                                    flex-direction: column;
                                    align-items: center;
                                    background-color: $colorWhite;
                                    border-radius: $borderRadiusL;
                                    border: 3px solid $colorViolet;
                                    padding: 4px;
                                    min-width: 50px;
                                    min-height: 50px;
                                    gap: 0;
                                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                                    .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-tag-name {
                                        position: absolute;
                                        top: -16px;
                                        left: -6px;
                                        z-index: 1;

                                        span {
                                            font-family: "Work Sans", serif;
                                            font-size: $textFontSizeS;
                                            font-weight: 700;
                                            color: $colorWhite;
                                        }
                                    }

                                    .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-tag {
                                        position: absolute;
                                        top: -13px;
                                        left: -9px;
                                        width: 90px;
                                        height: fit-content;
                                    }

                                    .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-image {
                                        width: 40px;
                                        height: 40px;
                                    }

                                    .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-benefit {
                                        display: flex;
                                        align-items: center;
                                        gap: $gapXS;
                                        width: 100%;
                                        max-width: 200px;

                                        .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-benefit-icon {
                                            font-size: $textFontSizeM;
                                            font-weight: $fontWeightXL;
                                            color: $colorGreen;
                                        }

                                        .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-benefit-label {
                                            font-size: $textFontSizeSM;
                                            font-weight: $fontWeightXL;
                                            color: $colorBlack;
                                        }
                                    }

                                    .affiliate-overview__introduction--blank-guide-container-child-right-container-promotion-share {
                                        display: flex;
                                        align-items: center;
                                        gap: $gapXS;
                                        padding: 0px 4px;
                                        background-color: $colorWhite;
                                        border-radius: $borderRadiusL;
                                        // border: 2px solid $colorYellow;
                                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                                        cursor: pointer;
                                        transition: all 1.5s ease;

                                        // &:hover {
                                        //     background-color: $colorViolet;

                                        //     span {
                                        //         color: $colorWhite;
                                        //     }
                                        // }

                                        img {
                                            height: 10px;
                                            width: 10px;
                                        }

                                        span {
                                            font-size: $textFontSizeSM;
                                            font-weight: $fontWeight2XL;
                                            text-transform: uppercase;
                                            color: $colorViolet;
                                        }
                                    }
                                }
                            }

                            .affiliate-overview__introduction--blank-guide-container-tag {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        .affiliate-overview__introduction--wave {
            position: absolute;
            width: 100%;
            height: 22%;
            bottom: 20%;
            left: 0;
            background: url("../../../../assets/images/wave.png");
            background-size: 100% 100%;
            transition: all 1.5s ease;
        }

        .affiliate-overview__introduction--benefit {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            width: 100%;
            height: 100%;
            opacity: 1;
            z-index: 1;
            transition: all 1.5s ease;

            .affiliate-overview__introduction--benefit-header {
                display: flex;
                flex-direction: column;
                gap: $gapL;
                align-items: center;
                justify-content: center;
                opacity: 1;
                padding: 12px;
                z-index: 1;

                span {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeight2XL;
                    color: $colorBlack;
                }

                .affiliate-overview__introduction--benefit-header-text-border {
                    text-shadow:
                        1px 1px 0 #b71eff,
                        -1px -1px 0 #b71eff,
                        1px -1px 0 #b71eff,
                        -1px 1px 0 #b71eff;
                    font-size: 32px;
                    font-weight: $fontWeight2XL;
                    font-family: "Work Sans", serif;
                    color: $colorWhite;
                    text-transform: uppercase;
                }

                .affiliate-overview__introduction--benefit-header-text-neon {
                    font-size: 48px;
                    font-weight: $fontWeight2XL;
                    font-family: "Work Sans", serif;
                    color: $colorWhite;
                    text-transform: uppercase;
                    text-shadow:
                        2px 2px 5px #38b6ff,
                        4px 4px 10px #38b6ff;
                    line-height: 1.1;
                }
            }

            .affiliate-overview__introduction--benefit-header-list {
                display: flex;
                flex-wrap: wrap;
                background-color: rgba(223, 221, 221, 0.4);
                border-radius: $borderRadiusXL;
                width: 100%;
                height: 100%;
                opacity: 1;
                z-index: 1;
                padding: 12px;
                height: 71vh;

                .affiliate-overview__introduction--benefit-header-list-container {
                    display: flex;
                    flex-direction: column;
                    gap: $gapL;
                    overflow: auto;
                    width: 100%;
                    height: 100%;

                    .affiliate-overview__introduction--benefit-header-list-content {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: fit-content;
                        background-color: $colorWhite;
                        border-radius: $borderRadiusXL;

                        .affiliate-overview__introduction--benefit-header-list-content-child {
                            background-color: $colorWhite;
                            width: 80%;
                            height: 100%;
                            padding: 12px;
                            border-radius: $borderRadiusXL;


                            .affiliate-overview__introduction--benefit-header-list-content-child-header {
                                display: flex;
                                // align-items: center;
                                gap: $gapXS;

                                .affiliate-overview__introduction--benefit-header-list-content-child-header-icon {
                                    font-size: $textFontSize3XL;
                                    font-weight: $fontWeightXL;
                                    color: $colorViolet;
                                }

                                .affiliate-overview__introduction--benefit-header-list-content-child-header-text {
                                    font-size: $textFontSizeXL;
                                    font-weight: $fontWeight2XL;
                                    color: $colorViolet;
                                    text-transform: uppercase;
                                    font-family: "Work Sans", serif;
                                }
                            }

                            .affiliate-overview__introduction--benefit-header-list-content-child-content {
                                display: flex;
                                gap: $gapS;


                                .affiliate-overview__introduction--benefit-header-list-content-child-content-dot {
                                    width: 6px;
                                    height: 6px;
                                    max-width: 6px;
                                    max-height: 6px;
                                    min-width: 6px;
                                    min-height: 6px;
                                    border-radius: $borderRadiusFull;
                                    background-color: $colorViolet;
                                    margin-top: 6px;
                                }

                                span {
                                    font-size: $textFontSizeM;
                                    font-weight: $fontWeightXL;
                                    color: $colorViolet;
                                    font-family: "Work Sans", serif;
                                }
                            }

                        }

                        .affiliate-overview__introduction--benefit-header-list-content-icon {
                            display: flex;
                            // align-items: center;
                            background-color: #9758f4;
                            width: 20%;
                            height: 100px;
                            border-radius: $borderRadiusXL;
                            padding: 4px;
                        }
                    }
                }

            }

            &.hide {
                height: 0px;
                opacity: 0;
                z-index: -1;
            }
        }

        .affiliate-overview__introduction--arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            z-index: 1;
            transition: all 1.5s ease;
            padding: 12px;

            .affiliate-overview__introduction--arrow-icon {
                padding: 12px;
                background: linear-gradient(to right, #DEDCFC 0%, #B4ABFE 50%, #CF91FC 100%);
                rotate: 90deg;
                opacity: 0.7;
                cursor: pointer;
                color: $colorBlack;
                border-radius: $borderRadiusFull;
                transition: all 1.5s ease;
                background-size: 120% 120%;
                background-position: left center;

                &:hover {
                    background-position: right center;
                    opacity: 1;
                }
            }

            &.hide {
                height: 0px;
                width: 0px;
                opacity: 0;
                z-index: -1;
            }
        }

        .affiliate-overview__introduction--footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            z-index: 1;
            // background-color: $colorBlack;
            height: 100%;

            .affiliate-overview__introduction--footer-header {
                background: linear-gradient(to right, #DEDCFC 0%, #B4ABFE 50%, #CF91FC 100%);
                padding: 12px;
                border: 2px solid $colorWhite;
                border-radius: $borderRadiusXL;

                .affiliate-overview__introduction--footer-header-label {
                    font-size: $textFontSize3XL;
                    font-weight: $fontWeight2XL;
                    color: $colorWhite;
                    font-family: "Work Sans", serif;
                    text-transform: uppercase;

                    .high-light {
                        font-size: $textFontSize3XL;
                        font-weight: $fontWeight2XL;
                        color: $colorViolet;
                        font-family: "Work Sans", serif;
                        text-transform: uppercase;
                    }
                }

            }

            .affiliate-overview__introduction--footer-content {
                background-color: rgba(223, 221, 221, 0.4);
                border-radius: $borderRadiusXL;
                padding: 16px 12px;
                height: fit-content;
                margin-top: -4px;

                .affiliate-overview__introduction--footer-content-image {
                    width: 100%;
                    height: fit-content;
                }

                .affiliate-overview__introduction--footer-content-list-service {
                    display: flex;
                    flex-wrap: wrap;
                    // gap: $gapM;
                    align-items: center;
                    justify-content: center;

                    .affiliate-overview__introduction--footer-content-list-service-child {
                        height: 110px;
                        width: 110px;
                    }

                }
            }

            .affiliate-overview__introduction--footer-bottom {
                display: flex;
                align-items: end;
                height: 100%;

                .affiliate-overview__introduction--footer-bottom-button {
                    background: linear-gradient(to right, #DEDCFC 0%, #B4ABFE 50%, #CF91FC 100%);
                    padding: 12px;
                    border-radius: $borderRadiusFull;
                    rotate: -90deg;
                    opacity: 0.7;
                    cursor: pointer;
                    color: $colorBlack;
                    transition: all 1.5s ease;
                    background-size: 120% 120%;
                    background-position: left center;

                    &:hover {
                        background-position: right center;
                        opacity: 1;

                    }
                }

                .affiliate-overview__introduction--footer-bottom-modal {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.6);
                    opacity: 1;
                    // transition: all 1.5s ease;
                    overflow: hidden;

                    .affiliate-overview__introduction--footer-bottom-modal-information {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: $gapL;
                        width: 100%;
                        height: 35vh;
                        max-height: 40vh;
                        background-color: $colorWhite;
                        border-top-left-radius: $borderRadiusXL;
                        border-top-right-radius: $borderRadiusXL;
                        transition: all 0.3s ease;

                        .affiliate-overview__introduction--footer-bottom-modal-information-title {
                            font-size: $textFontSize2XL;
                            font-weight: $fontWeight2XL;
                            color: #CF91FC;
                            font-family: "Work Sans", serif;
                            text-align: center;
                            padding-top: 12px;
                        }

                        .affiliate-overview__introduction--footer-bottom-modal-information-bullets-point {
                            font-size: $textFontSize2XL;
                            font-weight: $fontWeightL;
                            color: #CF91FC;
                            font-family: "Work Sans", serif;
                            padding: 0px 12px 0px 12px;

                            .high-light {
                                font-size: $textFontSize2XL;
                                font-weight: $fontWeight2XL;
                                color: #CF91FC;
                                font-family: "Work Sans", serif;
                            }


                        }

                        .affiliate-overview__introduction--footer-bottom-modal-information-social {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: $gapL;

                            .affiliate-overview__introduction--footer-bottom-modal-information-social-media {
                                width: fit-content;
                                height: fit-content;
                                padding: 12px;
                                border-radius: $borderRadiusFull;
                                background-color: $colorBlue;
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                color: $colorWhite;

                                &.facebook {
                                    background-color: $colorBlue;
                                }

                                &.youtube {
                                    background-color: $colorRed;
                                }

                                &.fanpage {
                                    background-color: $colorViolet;
                                }
                            }

                        }

                        .affiliate-overview__introduction--footer-bottom-modal-information-copyright {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 12px;
                            border-top: 1px solid $colorMoreLightGray;
                            text-align: center;

                            span {
                                font-size: $textFontSize2XL;
                                font-weight: $fontWeightL;
                                color: $colorLightGray;
                                font-family: "Work Sans", serif;
                            }
                        }
                    }

                    &.hide {
                        height: 0px;
                        width: 0px;

                        .affiliate-overview__introduction--footer-bottom-modal-information {
                            width: 100%;
                            height: 0px;
                            opacity: 0;
                        }
                    }

                }

            }
        }
    }

    .affiliate-overview__header {
        background-color: #F9F9FB;
        padding-bottom: 4px;
    }

    .affiliate-overview__tab {
        display: flex;
        padding: 12px;
        width: 100%;
        height: 100%;
        gap: $gapL;
        background-color: #F9F9FB;
        align-items: center;
        justify-content: center;

        .affiliate-overview__tab--button {
            width: 50%;
            text-align: center;
            padding: 12px 32px;
            border-radius: $borderRadiusL;
            box-shadow: $colorLightGray 0px 2px 4px 0px, $colorLightGray 0px 2px 16px 0px;
            color: $colorLightGray;

            &.activated {
                box-shadow: $colorDarkViolet 0px 2px 4px 0px, $colorDarkViolet 0px 2px 16px 0px;
                color: $colorViolet;
            }

            span {
                text-transform: uppercase;
                font-size: $textFontSize3XL;
                font-weight: $fontWeightXL;
            }


        }
    }

    .affiliate-overview__guide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        background-color: transparent;

        .affiliate-overview__guide--content {
            display: flex;
            align-items: center;
            gap: $gapS;
            width: 100%;
            height: 100%;

            .affiliate-overview__guide--content-child {
                display: flex;
                justify-content: center;
                width: 50%;
                height: 100%;
                gap: $gapL;
                padding: 42px 28px;

                .affiliate-overview__guide--content-child-share-link {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $colorDarkViolet;
                    border-radius: 32px;
                    background-color: $colorWhite;

                    .affiliate-overview__guide--content-child-share-link-left {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 45%;
                        height: 100%;
                        background-color: #9B35CB;
                        border-radius: 30px;
                        padding: 8px;
                        gap: $gapS;

                        .affiliate-overview__guide--content-child-share-link-left-header {
                            display: flex;
                            justify-content: center;
                            align-items: end;
                            width: 100%;
                            height: 100%;
                            padding: 4px;

                            .affiliate-overview__guide--content-child-share-link-left-header-number {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 50%;

                                .affiliate-overview__guide--content-child-share-link-left-header-number-discount {
                                    width: 120px;
                                    height: 170px;
                                }

                                .affiliate-overview__guide--content-child-share-link-left-header-number-voucher {
                                    width: 150px;
                                    height: 170px;
                                }
                            }

                            .affiliate-overview__guide--content-child-share-link-left-header-describe {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: $gapM;
                                padding-bottom: 8px;
                                width: 40%;

                                .affiliate-overview__guide--content-child-share-link-left-header-describe-label {
                                    font-weight: $fontWeightXL;
                                    font-size: 28px;
                                    text-transform: uppercase;
                                    color: $colorWhite;
                                    white-space: nowrap;
                                }

                                .affiliate-overview__guide--content-child-share-link-left-header-describe-child {
                                    font-weight: $fontWeightM;
                                    font-size: $textFontSize2XL;
                                    color: $colorWhite;
                                    white-space: nowrap;
                                }
                            }
                        }

                        .affiliate-overview__guide--content-child-share-link-left-copy {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80%;
                            height: fit-content;
                            background-color: $colorWhite;
                            border-radius: $borderRadiusL;
                            padding: 12px 0px;
                            gap: $gapXS;
                            cursor: pointer;
                            transition: 1.5s all ease;

                            &:hover {
                                background-color: $colorLightViolet;


                                .affiliate-overview__guide--content-child-share-link-left-copy-icon {
                                    color: $colorWhite;
                                }

                                .affiliate-overview__guide--content-child-share-link-left-copy-label {
                                    color: $colorWhite;
                                }
                            }

                            .affiliate-overview__guide--content-child-share-link-left-copy-icon {
                                font-size: $textFontSize2XL;
                                color: #6420EC;
                            }

                            .affiliate-overview__guide--content-child-share-link-left-copy-label {
                                font-weight: 700;
                                font-size: $textFontSize2XL;
                                color: #75149E;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .affiliate-overview__guide--content-child-share-link-right {
                        width: 55%;
                        height: 100%;
                        background-color: $colorWhite;
                        border-radius: 32px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 28px;
                        gap: $gapL;

                        .affiliate-overview__guide--content-child-share-link-right-header {
                            font-size: 40px;
                            font-weight: 700;
                            color: #75149E;
                            text-transform: uppercase;
                            white-space: nowrap;
                        }

                        .affiliate-overview__guide--content-child-share-link-right-describe {
                            font-size: 19px;
                            font-weight: $fontWeightXL;
                            color: $colorBlack;
                            line-height: 1.6;

                            .high-light {
                                font-size: 18px;
                                font-weight: 700;
                                color: $colorOrange;
                                line-height: 1.4;
                            }
                        }
                    }
                }
            }

            .affiliate-overview__guide--content-line {
                position: relative;
                width: 2px;
                height: 80%;
                border-radius: $borderRadiusFull;
                background-color: $colorMoreLightGray;

                .affiliate-overview__guide--content-line-icon {
                    position: absolute;
                    padding: 4px;
                    background-color: #F9F9FB;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    font-size: 28px
                }
            }

            .affiliate-overview__guide--content-right {
                width: 50%;
                height: 100%;
                // background-color: blue;
            }
        }

    }

    .affiliate-overview__landing-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        padding: 32px;
        gap: $gapL;
        overflow: hidden;
        background-color: transparent;


        .affiliate-overview__landing-page--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gapS;
            // background-color: blue;

            .affiliate-overview__landing-page--header-logo {
                width: 200px;
                height: 80px;
                // background-color: yellow;

            }

            .affiliate-overview__landing-page--header-label {
                text-transform: uppercase;
                font-weight: $fontWeightXL;
                font-size: 50px;
                background: linear-gradient(to bottom, #71109c 0%, #7d15cb 0%, #db7acc 100%); // màu background gradient 
                background-clip: text;
                color: transparent;
                text-align: center;
            }
        }

        .affiliate-overview__landing-page--about {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            scale: 1;
            background-color: transparent;
        }

        .affiliate-overview__landing-page--line-icon {
            // background-color: #7d15cb;
            display: flex;
            justify-content: center;
            gap: $gapXL;
            width: 100%;

            .affiliate-overview__landing-page--line-icon-child {
                width: 12%;
                // background-color: yellow;
            }
        }

    }

    .affiliate-overview__service {
        display: flex;
        justify-content: center;
        height: 500px;
        width: 100%;
        background-color: transparent;
        border-top: 2px solid $colorOrange;
        border-bottom: 2px solid $colorOrange;
        overflow: hidden;

        .affiliate-overview__service--step {
            background-color: transparent;
            width: fit-content;
            height: 100%;
            scale: 1;
        }
    }

    .affiliate-overview__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        background-color: black;

        .affiliate-overview__footer--content {
            display: flex;
            gap: 40px;
            justify-content: center;
            width: 80%;
            height: 100%;
            padding-top: 32px;

            .affiliate-overview__footer--content-information {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $gapL;

                .affiliate-overview__footer--content-information-header {
                    font-weight: $fontWeightXL;
                    font-size: $textFontSizeL;
                    color: $colorWhite;
                }

                .affiliate-overview__footer--content-information-description {
                    font-weight: $fontWeightL;
                    font-size: $textFontSizeL;
                    color: $colorWhite;
                }

                .affiliate-overview__footer--content-information-image {
                    height: 48px;
                    width: fit-content;
                }

                .affiliate-overview__footer--content-information-image-container {
                    display: flex;
                    flex-direction: column;
                    gap: $gapL;
                }
            }
        }

        .affiliate-overview__footer--content-copy-right {
            text-align: center;
            width: 100%;
            border-top: 1px solid gray;
            background-color: black;
            padding: 12px 0px;

            .affiliate-overview__footer--content-copy-right-label {
                font-size: $textFontSizeL;
                font-weight: $fontWeightL;
                color: $colorWhite
            }
        }
    }
}

// Thanh scroll-bar
.affiliate-overview__introduction--blank::-webkit-scrollbar {
    width: 0.7em;
}

.affiliate-overview__introduction--blank::-webkit-scrollbar-track {
    background-color: transparent;
    margin-block: 3em;
    border-radius: 8px;
}

.affiliate-overview__introduction--blank::-webkit-scrollbar-thumb {
    // border-radius: $borderRadiusFull;
    border-top-left-radius: $borderRadiusFull;
    border-bottom-left-radius: $borderRadiusFull;
    border-right: 4px white solid;
    background-color: $colorExtraLightGray;
}

.affiliate-overview__introduction--blank::-webkit-scrollbar-thumb:hover {
    background-color: $colorMoreLightGray;
}