.div-create-exam {
  display: flex;
  flex-direction: column;

  .text-create-ctv {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
  }
}

.div-collaborator-test {
  display: flex;
  flex-direction: column;
}
