div {
  box-sizing: border-box;
}
.item-collaborator-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.item-collaborator-container {
  display: flex;
  width: 200px !important;
  height: 100px !important;
  border-width: 2px;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 1px 2px 0.5px 0.1px rgb(228, 224, 224);
  border-radius: 1px red;
  .info {
    width: 100%;
  }
}
.item-collaborator-container_disabled {
  pointer-events: visiblePainted;
  background-color: rgb(241, 241, 238);
}

.item-collaborator_container-star {
  flex-direction: row;
  display: flex;
  align-items: center;
  .icon-star {
    margin-right: 10px;
  }
}
