.div-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(208, 208, 208);

  .div-list {
    display: flex;
    flex-direction: column;

    .text-title {
      font-family: Helvetica;
      font-weight: 500;
      font-size: 20px;
      color: black;
      text-decoration: none;
      width: 800px;
    }
    .text-date {
      font-family: Helvetica;
      font-weight: 200;
      font-size: 14px;
      color: rgb(78, 78, 78);
      text-decoration: none;
    }
  }
}

.div-pagination {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .div-monney {
    display: flex;
    flex-direction: column;

    .text-title-monney {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000 !important;
    }
    .text-monney {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #000000 !important;
    }

    .total-revenue {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      text-decoration: none;

      .text-money-revenue {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        text-decoration: none;
        margin-left: 10px;
      }

      .icon-up {
        color: #00cf3a;
      }
    }
    .total-expenditure {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      text-decoration: none;

      .text-money-expenditure {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        text-decoration: none;
        margin-left: 10px;
      }
      .icon-down {
        color: #ff0000;
      }
    }
  }
}

.div-time {
  display: flex;
  flex-direction: column;
}

.text-pending-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ecd503 !important;
  text-decoration: none;
}

.text-transfered {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #19129a !important;
  text-decoration: none;
}
.text-done {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00cf3a;
  text-decoration: none;
}
