.img-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.select-code-phone {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  border-color: rgb(216, 216, 216);
}

.add {
  display: flex;
  .withdraw {
    margin-left: 20px;
  }
}

.div-header-customer-topup {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .input-search-topup {
    height: 40px;
    margin-left: 10%;
    width: 100vh;
  }
}

.text-id {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.div-name-topup {
  display: flex;
  flex-direction: column;

  .text-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
  }

  .text-phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000 !important;
    text-decoration: none;
  }
}

.text-cancel-topup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000 !important;
  text-decoration: none;
}
