.btn-add-banner {
  width: 15%px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-left: 20px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
}

.img-thumbnail-banner {
  width: 200px !important;
  height: 50px !important;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
  border: none;
}

.select-code-phone {
  width: 300px !important;
  height: 40px !important;
}
