@import "../index.scss";
.container-collaborator-by-customer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-right: 20px;
  padding: 5px;
}
.div-list-collaborator_toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding: 5px;
}
.div-note-collaborator {
  p {
    padding: 5px 0px;
  }
}
.div-select-collaborator {
  p {
    padding: 5px 0px;
  }
}
.div-list-address-default_title {
  padding: 5px 0px;
  color: black;
}
.div-item-address {
  display: flex;
  flex-direction: row;
  padding: 0px 5px 5px 0px;
  border-bottom: 1px solid black;
  align-items: center;
}
.icon-map-address {
  margin-right: 10px;
}
