.chart {
  background-color: white;
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 6px 3px 6px 3px #d2d2d2;

  .type-select {
    width: 110px;
    min-height: 32px;
    border-radius: 8px;
    margin-right: 5px;
    border-color: rgb(211, 211, 211);
    color: rgb(204, 204, 204);
  }
}
