.div-header {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;

  .div-add-export {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .title-cv {
    color: black;
    font-weight: 400;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    margin-top: 5px;
  }

  .field-search {
    height: 48px;
    width: 506px;
    margin-left: 28px;
  }

  .dropdown-export {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgb(216, 216, 216);

    .icon-menu {
      color: black;
    }
  }
}

.div-tab {
  display: flex;
  flex-direction: row;

  .div-tab-item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;

    .text-title-tab {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #41a2f3;
      text-decoration: none;
    }

    .text-title-tab-default {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      text-decoration: none;
    }

    .tab-line {
      border: 1px solid #41a2f3;
    }
  }
}
