.icon-more {
  color: #000000;
}


.div-name-customer {
  display: flex;
  flex-direction: row;

  .text-rank {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
}

.img-unlock {
  width: 20px;
  height: 20px;
}

.text-phone-customer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px !important;
  color: #19202c;
}

.text-id-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #f7941d;
  margin: 0;
}

.text-address-customer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: black;
  text-decoration: none !important;
  display: block;
  margin: 0;
}

.text-address-customer-default {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: black;
  width: 250px !important;
  text-decoration: none !important;
  display: block;
  margin: 0;
}

.text-id-customer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none !important;
  margin: 0;
}

.icon-unlock {
  color: rgb(43, 159, 121);
}

.icon-lock {
  color: orangered;
}

.div-header-customer-table {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .dropdown {
    display: flex;
    height: 48px;
    width: 15%;
    border-radius: 5px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;

    .icon {
      color: #000000;
    }
    .text-filter {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }
  }

  .input-search-customer {
    width: 80%;
    border-radius: 5px;
    margin-left: 15px;
    align-items: center;
  }
  .input {
    border: none;
  }
}

.text-name-modal {
  font-size: medium;
  color: orangered;
  margin-left: 5px;
  margin-right: 5px;
}

.div-create {
  display: flex;
  flex-direction: column;

  .text-create-customer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6e6893;
    text-decoration: none;
    margin: 0;
  }
}

.hide-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .text-phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin: 0;
  }

  .btn-eyes {
    background-color: transparent;
    border: none;
    color: #000000;
    margin: 0;
  }
}

.div-detail-customer {
  display: flex;
  flex-direction: column;

  .div-text-detail {
    display: flex;
    flex-direction: row;

    .title-detail {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #19202c;
      width: 100px;
      margin: 0;
    }

    .text-detail {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #19202c;
      margin-left: 10px;
      margin: 0;
    }
  }
}

.text-birtday-customer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #19202c;
}

@media screen and (max-width: 490px) {
  .div-header-customer-table {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .dropdown {
      display: flex;
      height: 48px;
      width: 15%;
      border-radius: 5px;
      border: 1px solid black;
      align-items: center;
      justify-content: center;

      .icon {
        color: #000000;
      }
      .text-filter {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
      }
    }

    .input-search {
      width: 100%;
      border-radius: 5px;
      border: 1px solid black;
      margin-left: 15px;
      align-items: center;
    }
    .input {
      border: none;
    }
  }
}
