@import '../../../../index.scss';

.header-table-custom {
    .title-report {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            font-size: $textFontSizeM;
            font-weight: 500;
        }

        div {
            i {
                font-size: $textFontSizeM;
                margin: 0px 0px 0px 5px;
            }
        }

    }

    .sub-value {
        margin: 10px 0px 0px 0px;

        p {
            font-size: $textFontSizeM;
            font-weight: 500;
        }
    }
}

