@import "../../../src/@theme/style.scss";


.card-statistics {
    background-color: white;
    border-radius: $borderRadiusM;

    // Icon sử dụng trong card
    .card-statistics__icon {
        padding: 8px;
        width: 36px;
        height: 36px;
        border-radius: $borderRadiusL;

        &.green {
            background-color: $colorExtraLightGreen;
        }

        &.red {
            background-color: $colorExtraLightRed;
        }

        &.blue {
            background-color: $colorExtraLightBlue;
        }

        &.yellow {
            background-color: $colorExtraLightYellow;
        }
    }

    // ~~~ Tiêu đề thẻ ~~~
    .card-statistics__header {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px;
        border-bottom: 2px solid $colorExtraLightGray;

        .card-statistics__header--right {
            display: flex;
            align-items: center;
            gap: $gapXS;

        }

        .card-statistics__header--left {
            .card-statistics__header--left-time {
                display: flex;
                align-items: center;
                gap: $gapXS;
            }
        }

        span {
            font-weight: $fontWeightXL;
            font-size: $textFontSizeM;
            font-family: $fontFamily;
            color: $colorBlack;
        }
    }

    // ~~~ Thẻ tổng quan đánh giá ~~~
    .card-statistics__overview-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 20px;
        gap: $gapS;

        .card-statistics__overview-rating--star {
            display: flex;
            border-radius: $borderRadiusXL;
            padding: 8px 16px;
            align-items: center;
            justify-content: center;
            background-color: $bgStarCard;
            gap: $gapXS;

            .card-statistics__overview-rating--star-avg {
                padding-top: 3px;
                margin-left: 3px;
                font-weight: $fontWeightXL;
                font-size: $textFontSizeL;
                font-family: $fontFamily;
                color: $colorBlack;
            }
        }

        .card-statistics__overview-rating--total {
            display: flex;
            align-items: center;
            gap: $gapXS;

            .card-statistics__overview-rating--total-number {
                font-weight: $fontWeightXL;
                color: $colorBlack;
            }

            span {
                font-style: italic;
                color: $colorBlack;
            }
        }

        .card-statistics__overview-rating--kind {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $gapM;

            .card-statistics__overview-rating--kind-label {
                display: flex;
                gap: $gapXS;
                align-items: center;
                color: $colorBlack;

                .card-statistics__overview-rating--kind-label-circle {
                    width: 12px;
                    height: 12px;
                    border-radius: $borderRadiusFull;
                }
            }
        }

    }

    // ~~~ Thẻ tiêu chí đánh giá ~~~
    .card-statistics__overview-criteria {
        display: flex;
        padding: 0px 12px 12px 12px;
    }

    // ~~~ Thẻ khen thưởng, vi phạm ~~~
    .card-statistics__overview-bonus-punish {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        gap: $gapL;

        .card-statistics__overview-bonus-punish--total {
            display: flex;
            flex-direction: row;
            gap: $gapL;

            .card-statistics__overview-bonus-punish--total-container {
                width: 50%;
                display: flex;
                align-items: center;
                padding: 10px;
                border: 2px solid #e5e7eb;
                border-radius: $borderRadiusXL;
                gap: $gapM;

                .card-statistics__overview-bonus-punish--total-container-number {
                    display: flex;
                    flex-direction: column;

                    .card-statistics__overview-bonus-punish--total-container-number-label {
                        font-weight: $fontWeightL;
                        font-size: $textFontSizeM;
                        font-family: $fontFamily;
                        color: $colorGray;
                        opacity: $opacityS;
                    }

                    .card-statistics__overview-bonus-punish--total-container-number-number {
                        font-weight: $fontWeightXL;
                        font-size: $textFontSizeXL;
                        color: $colorBlack;

                        .card-statistics__overview-bonus-punish--total-container-number-number-sub {
                            font-weight: $textFontSizeM;
                            font-size: $textFontSizeM;
                            text-transform: uppercase;
                            color: $colorBlack;
                        }
                    }

                }
            }
        }

        .card-statistics__overview-bonus-punish--recent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 10px;
            border-radius: $borderRadiusXL;

            .card-statistics__overview-bonus-punish--recent-icon {
                display: flex;
                gap: 12px;

                .card-statistics__overview-bonus-punish--recent-icon-label {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    color: $colorBlack;

                    .card-statistics__overview-bonus-punish--recent-icon-label-time {
                        color: $colorGray;
                        opacity: $opacityS;
                    }
                }
            }

            .card-statistics__overview-bonus-punish--recent-status {
                padding: 1px 6px;
                color: white;
                background-color: $colorYellow;
                border-radius: $borderRadiusXL;
            }
        }

        .card-statistics__overview-bonus-punish--recent-success {
            border: 2px solid $colorGreen;
        }

        .card-statistics__overview-bonus-punish--recent-punish {
            border: 2px solid $colorRed;
        }

    }

    // ~~~ Thẻ bài kiểm tra ~~~
    .card-statistics__overview-examination {
        display: flex;
        flex-direction: column;
        // padding: 16px 20px;
        padding: 16px 20px 0px 12px;
        gap: $gapL;

        .card-statistics__overview-examination--image {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $colorExtraLightPurple;
            border-radius: $borderRadiusXL;

            .card-statistics__overview-examination--image-label {
                padding-left: 24px;
                font-size: $textFontSizeXL;
                font-weight: $fontWeightXL;
                color: $colorBlack;
            }

            .card-statistics__overview-examination--image-image {
                height: 100%;
            }
        }

        .card-statistics__overview-examination--exam {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;

            &.not-last-exam {
                border-bottom: 1.5px solid $colorExtraLightGray;
            }

            .card-statistics__overview-examination--exam-content {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .card-statistics__overview-examination--exam-content-header {
                    text-transform: uppercase;
                    color: $colorBlack;
                }

                .card-statistics__overview-examination--exam-content-subheader {
                    text-transform: lowercase;
                    color: $colorGray;
                    opacity: $opacityS;
                }

                .card-statistics__overview-examination--exam-content-subheader::first-letter {
                    text-transform: uppercase;
                }
            }

            .card-statistics__overview-examination--exam-status {
                background-color: $colorExtraLightGreen;
                padding: 4px 12px;
                border-radius: $borderRadiusFull;
                border: 1px solid $colorGreen;
                color: $colorGreen;

                &.not-pass {
                    background-color: $colorExtraLightGray;
                    border: 1px solid $colorGray;
                    color: $colorGray;
                }
            }
        }
    }

    // ~~~ Thẻ tài chính ~~~
    .card-statistics__overview-finance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 20px;
        gap: $gapL;

        .card-statistics__overview-finance--image {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100px;
            background-color: $colorExtraLightAmber;
            border-radius: $borderRadiusXL;

            .card-statistics__overview-finance--image-content {
                display: flex;
                flex-direction: column;

                .card-statistics__overview-finance--image-content-subtext {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorGray;
                    opacity: $opacityS;
                    padding: 2px 20px;
                }

                .card-statistics__overview-finance--image-content-total {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    padding: 2px 20px;
                    color: $colorBlack;
                }

            }

            .card-statistics__overview-finance--image-image {
                height: 100%;
            }
        }

        .card-statistics__overview-finance--content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: $gapL;

            .card-statistics__overview-finance--content-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border-bottom: 1.5px solid $colorExtraLightGray;

                &.not-last {
                    padding-bottom: 12px;
                    border-bottom: 1.5px solid $colorExtraLightGray;
                }

                .card-statistics__overview-finance--content-child-container {
                    display: flex;
                    align-items: center;
                    gap: $gapS;

                    span {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorLightGray;
                    }
                }

                .card-statistics__overview-finance--content-child-money {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: $gapXS;
                    padding: 4px 12px;
                    border-radius: $borderRadiusM;
                    width: 35%;

                    span {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorBlack;
                    }
                }

                .card-statistics__overview-finance--content-child-money-month {
                    background-color: $colorExtraLightGreen;
                }

                .card-statistics__overview-finance--content-child-money-year {
                    background-color: $colorExtraLightYellow;
                }

                .card-statistics__overview-finance--content-child-money-total {
                    background-color: $colorExtraLightBlue;
                }
            }
        }
    }

    // ~~~ Thẻ hiệu quả công việc ~~~
    .card-statistics__overview-jobs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 20px;
        gap: $gapL;

        .card-statistics__overview-jobs--image {
            width: 100%;
            height: 100px;
            background-color: $colorExtraLightBlue;
            border-radius: $borderRadiusL;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card-statistics__overview-jobs--image-content {
                display: flex;
                flex-direction: column;
                padding-left: 24px;

                .card-statistics__overview-jobs-image-content-subtext {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorGray;
                    opacity: $opacityS;
                }

                .card-statistics__overview-jobs--image-content-total {
                    display: flex;
                    gap: $gapXS;

                    .card-statistics__overview-jobs--image-content-total-number {
                        font-size: $textFontSizeXL;
                        font-weight: $fontWeightXL;
                        padding-top: 2px;
                        color: $colorBlack;
                    }

                    .card-statistics__overview-jobs--image-content-total-unit {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightXL;
                        text-transform: uppercase;
                        padding-top: 2px;
                        color: $colorBlack;
                    }
                }

            }

            .card-statistics__overview-jobs--image-image {
                height: 100%;
            }
        }

        .card-statistics__overview-jobs--content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $gapL;
            width: 100%;

            .card-statistics__overview-jobs--content-child {
                display: flex;
                align-items: center;
                gap: $gapL;
                // padding-top: 8px;

                .card-statistics__overview-jobs--content-child-progress-bar {
                    width: 100%;

                    .card-statistics__overview-jobs--content-child-progress-bar-number {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 2px;

                        .card-statistics__overview-jobs--content-child-progress-bar-number-label {
                            font-size: $textFontSizeM;
                            font-weight: $fontWeightL;
                            color: $colorGray;
                            opacity: $opacityS;
                        }

                        .card-statistics__overview-jobs--content-child-progress-bar-number-total {
                            font-size: $textFontSizeM;
                            font-weight: $fontWeightXL;
                            color: $colorBlack;
                        }
                    }

                    .card-statistics__overview-jobs--content-child-progress-bar-container {
                        width: 100%;
                        position: relative;
                        border-radius: $borderRadiusFull;
                        background-color: $colorExtraLightGray;
                        text-align: center;

                        span {
                            position: absolute;
                            font-style: italic;
                            font-size: $fontWeightL;
                            color: $colorBlack;

                            &.more-than-overal {
                                color: white;
                            }
                        }

                        .card-statistics__overview-jobs--content-child-progress-bar-contanier-bar {
                            height: 16px;
                            border-radius: $borderRadiusFull;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .card-statistics__overview-jobs--content-child-progress-bar-contanier-bar-success {
                            background-color: $colorGreen;
                            // box-shadow: rgba(81, 250, 55, 0.56) 0px 1px 8px 0px;
                        }

                        .card-statistics__overview-jobs--content-child-progress-bar-contanier-bar-cancel {
                            background-color: $colorRed;
                            // box-shadow: rgba(247, 55, 55, 0.56) 0px 1px 8px 0px;
                        }
                    }
                }
            }
        }
    }

    // ~~~ Thẻ hoạt động gần đây ~~~
    .card-statistics__overview-activities {
        padding: 16px 20px;

        // gap: $gapS;
        .card-statistics__overview-activities--activity {
            display: flex;
            padding-bottom: 12px;

            .card-statistics__overview-activities--activity-left {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-statistics__overview-activities--activity-left-date {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightXL;
                    color: $colorBlack;
                }

                .card-statistics__overview-activities--activity-left-day {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    color: $colorGray;
                    opacity: $opacityS;
                    text-transform: capitalize;
                }
            }

            .card-statistics__overview-activities--activity-line {
                width: 16.67%;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-bottom: -12px;

                .card-statistics__overview-activities--activity-line-icon {
                    padding: 8px 8px;
                    width: fit-content;
                    height: fit-content;
                    border-radius: $borderRadiusFull;

                    &.pending {
                        background-color: $colorExtraLightYellow;
                    }

                    &.confirm {
                        background-color: $colorExtraLightBlue;
                    }

                    &.doing {
                        background-color: $colorExtraLightBlue;
                    }

                    &.done {
                        background-color: $colorExtraLightGreen;
                    }

                    &.cancel {
                        background-color: $colorExtraLightRed;
                    }
                }

                .card-statistics__overview-activities--activity-line-icon-line {
                    width: 2px;
                    height: 100%;
                    background-color: $colorExtraLightGray;
                }
            }

            .card-statistics__overview-activities--activity-right {
                width: 58.33%;

                .card-statistics__overview-activities--activity-right-time {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightXL;
                    color: $colorBlack;
                }

                .card-statistics__overview-activities--activity-right-address {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    color: $colorGray;
                    opacity: $opacityS;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }

                .card-statistics__overview-activities--activity-right-status {
                    width: fit-content;
                    padding: 3px 8px;
                    border-radius: $borderRadiusL;
                    // border: 1px solid;
                    margin-top: 4px;

                    &.pending {
                        background-color: $colorExtraLightYellow;
                        border: 1px solid $colorYellow;
                        color: $colorYellow;
                    }

                    &.confirm {
                        background-color: $colorExtraLightBlue;
                        border: 1px solid $colorBlue;
                        color: $colorBlue;
                    }

                    &.doing {
                        background-color: $colorExtraLightBlue;
                        border: 1px solid $colorBlue;
                        color: $colorBlue;
                    }

                    &.done {
                        background-color: $colorExtraLightGreen;
                        border: 1px solid $colorGreen;
                        color: $colorGreen;
                    }

                    &.cancel {
                        background-color: $colorExtraLightRed;
                        border: 1px solid $colorRed;
                        color: $colorRed;
                    }

                    span {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                    }
                }
            }

        }
    }

    // ~~~ Thẻ thông tin cá nhân ~~~
    .card-statistics__overview-information {
        display: flex;
        flex-direction: column;
        gap: $gapL;
        padding: 16px 20px;

        .card-statistics__overview-information--avatar {
            background-color: $colorExtraLightPurple;
            border-radius: $borderRadiusL;
            // margin: 12px 12px;
            padding: 16px 16px;
            display: flex;
            justify-content: center;

            .card-statistics__overview-information--avatar-image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .card-statistics__overview-information--avatar-information {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 12px;
                gap: $gapS;

                .card-statistics__overview-information--avatar-information-name {
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorBlack;
                }

                .card-statistics__overview-information--avatar-information-other {
                    display: flex;
                    align-items: center;
                    gap: $gapXS;

                    .card-statistics__overview-information--avatar-information-other-subtext {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightXL;
                        color: $colorBlack;
                    }

                    .card-statistics__overview-information--avatar-information-other-subtext-label {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorGray;
                        opacity: $opacityS;
                    }
                }

                .card-statistics__overview-information--avatar-information-status {
                    padding: 8px 16px;
                    border-radius: $borderRadiusFull;
                }
            }
        }

        .card-statistics__overview-information--detail-info {
            display: flex;
            flex-direction: column;
            gap: $gapL;

            // margin: 16px 12px 16px 12px;
            .card-statistics__overview-information--detail-info-label {
                font-size: $textFontSizeM;
                font-weight: $fontWeightXL;
                color: $colorBlack;
            }
        }
    }

    // ~~~ Thẻ tiến hành hồ sơ ~~~ 
    .card-statistics__overview-document {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        gap: $gapM;

        .card-statistics__overview-document--child {
            display: flex;
            align-items: center;
            gap: $gapM;

            .card-statistics__overview-document--child-left {
                display: flex;
                gap: $gapM;
                align-items: center;

                .card-statistics__overview-document--child-left-label {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    color: $colorBlack;

                    &.not-upload {
                        color: $colorGray;
                        opacity: $opacityS;
                    }
                }

            }
        }
    }

    // ~~~ Thẻ thống kê chi tiết các loại đánh giá và số sao của CTV
    .card-statistics__rating-overview {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        gap: $gapM;

        .card-statistics__rating-overview--average-point {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card-statistics__rating-overview--average-point-label {
                font-size: $textFontSizeM;
                font-weight: $fontWeightL;
                color: $colorBlack;
                padding: 4px 0px;
                // opacity: $opacityS;
            }

            .card-statistics__rating-overview--average-point-number {
                display: flex;
                align-items: center;
                gap: $gapS;

                .card-statistics__rating-overview--average-point-number-sub {
                    font-weight: $fontWeightL;
                    color: $colorGray;
                    opacity: $opacityL;
                    // padding: 2px 0px;
                }

                .card-statistics__rating-overview--average-point-number-total {
                    background-color: $colorExtraLightYellow;
                    padding: 4px 6px;
                    border-radius: $borderRadiusM;
                    font-size: $textFontSizeXL;
                    font-weight: $fontWeightXL;
                    color: $colorYellow;
                    // opacity: $opacityS;
                }

            }
        }
    }

    // ~~~ Thẻ thống kê số lần được đánh giá, khen thưởng, vi phạm ~~~
    .card-statistics__rating-statistic {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        gap: $gapL;

        .card-statistics__rating-statistic--card {
            display: flex;
            gap: $gapL;

            .card-statistics__rating-statistic--card-child {
                display: flex;
                align-items: center;
                width: 33.3333%;
                position: relative;
                height: 80px;
                border-radius: $borderRadiusL;
                overflow: hidden;
                transition: all 0.3s ease;
                cursor: pointer;

                &.card-child-blue {
                    background-color: $colorExtraLightBlue;
                }

                &.card-child-red {
                    background-color: $colorExtraLightRed;
                }

                &.card-child-green {
                    background-color: $colorExtraLightGreen;
                }

                .card-statistics__rating-statistic--card-child-label {
                    display: flex;
                    flex-direction: column;
                    gap: $gapS;
                    padding-left: 16px;

                    .card-statistics__rating-statistic--card-child-label-heading {
                        .card-statistics__rating-statistic--card-child-label-heading-icon {}

                        span {
                            font-size: $textFontSizeXL;
                            font-weight: $fontWeightXL;
                        }

                    }

                    .card-statistics__rating-statistic--card-child-label-number {
                        font-size: $textFontSizeXL;
                        font-weight: $fontWeightXL;

                        &.label-number-blue {
                            color: $colorBlue;
                        }

                        &.label-number-red {
                            color: $colorRed;
                        }

                        &.label-number-green {
                            color: $colorGreen;
                        }
                    }
                }

                .card-statistics__rating-statistic--card-child-circle {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -16px;
                    right: -16px;
                    border-radius: $borderRadiusFull;
                    transition: transform 0.3s ease; // Thêm transition cho transform

                    &.circle-blue {
                        background-color: $colorLightBlue;
                    }

                    &.circle-red {
                        background-color: $colorLightRed;
                    }

                    &.circle-green {
                        background-color: $colorLightGreen;
                    }

                }

                .card-statistics__rating-statistic--card-child-circle-outside {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: -24px;
                    right: -24px;
                    border-radius: $borderRadiusFull;
                    transition: transform 0.3s ease;

                    &.circle-outside-blue {
                        background-color: $colorMoreLightBlue;
                    }

                    &.circle-outside-red {
                        background-color: $colorMoreLightRed;
                    }

                    &.circle-outside-green {
                        background-color: $colorMoreLightGreen;
                    }
                }

                &:hover {
                    .card-statistics__rating-statistic--card-child-circle {
                        transform: scale(1.3);
                    }

                    .card-statistics__rating-statistic--card-child-circle-outside {
                        transform: scale(1.3);
                    }
                }

                .card-statistics__rating-statistic--card-child-line-bottom {
                    width: 60px;
                    height: 2px;
                    position: absolute;
                    bottom: 4px;
                    left: 90px;
                    border-radius: $borderRadiusFull;

                    &.line-bottom-blue {
                        background-color: $colorLightBlue;
                    }

                    &.line-bottom-red {
                        background-color: $colorLightRed;
                    }

                    &.line-bottom-green {
                        background-color: $colorLightGreen;
                    }
                }
            }
        }

        .card-statistics__rating-statistic--number {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $gapS;

            .card-statistics__rating-statistic--number-subtext {
                font-size: $textFontSizeM;
                font-weight: $fontWeightL;
                color: $colorGray;
                opacity: $opacityS;
                text-transform: uppercase;
            }

            .card-statistics__rating-statistic--number-average {
                font-size: $textFontSize3XL;
                font-weight: $fontWeightXL;
            }

            .card-statistics__rating-statistic--number-star {
                display: flex;
                gap: $gapS;
            }
        }

        .card-statistics__rating-statistic--progress-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gapL;

            // padding-top: 8px;
            .card-statistics__rating-statistic--progress-bar-child {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .card-statistics__rating-statistic--progress-bar-child-label {
                    text-align: center;
                    width: 25%;
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    // color: $colorGray;
                    // opacity: $opacityS;
                }

                .card-statistics__rating-statistic--progress-bar-child-container {
                    width: 100%;
                    height: fit-content;
                    position: relative;
                    border-radius: $borderRadiusFull;
                    background-color: $colorExtraLightGray;
                    text-align: center;

                    span {
                        top: -2px;
                        position: absolute;
                        font-style: italic;
                        font-size: $fontWeightL;
                        color: $colorBlack;

                        &.more-than-overal {
                            color: white;
                        }
                    }

                    .card-statistics__rating-statistic--progress-bar-child-container-bar {
                        height: 12px;
                        border-radius: $borderRadiusFull;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $colorBlue;
                    }

                    .card-statistics__rating-statistic--progress-bar-child-container-bar-bonus {
                        background-color: $colorGreen;
                    }

                    .card-statistics__rating-statistic--progress-bar-child-container-bar-punish {
                        background-color: $colorRed;
                    }
                }

                // .card-statistics__rating-statistic--progress-bar-child-number {
                //     display: flex;
                //     justify-content: space-between;
                //     align-items: center;
                //     margin-bottom: 2px;

                //     .card-statistics__rating-statistic--progress-bar-child-number-label {
                //         font-size: $textFontSizeM;
                //         font-weight: $fontWeightL;
                //         color: $colorGray;
                //         opacity: $opacityS;
                //     }

                //     .card-statistics__rating-statistic--progress-bar-child-number-total {
                //         font-size: $textFontSizeM;
                //         font-weight: $fontWeightXL;
                //         color: $colorBlack;
                //     }
                // }

                // .card-statistics__rating-statistic--progress-bar-child-container {
                //     width: 100%;
                //     position: relative;
                //     border-radius: $borderRadiusFull;
                //     background-color: $colorExtraLightGray;
                //     text-align: center;

                //     span {
                //         position: absolute;
                //         font-style: italic;
                //         font-size: $fontWeightL;
                //         color: $colorBlack;

                //         &.more-than-overal {
                //             color: white;
                //         }
                //     }

                //     .card-statistics__rating-statistic--progress-bar-child-container-bar {
                //         height: 8px;
                //         border-radius: $borderRadiusFull;
                //         display: flex;
                //         align-items: center;
                //         justify-content: center;
                //         background-color: $colorBlue;
                //     }

                //     .card-statistics__rating-statistic--progress-bar-child-container-bar-bonus {
                //         background-color: $colorGreen;
                //     }

                //     .card-statistics__rating-statistic--progress-bar-child-container-bar-punish {
                //         background-color: $colorRed;
                //     }
                // }
            }
        }
    }

    // ~~~ Thẻ hoạt động đơn hàng
    .card-statistics__activity-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gapS;
        padding: 16px 14px;

        // gap: $gapS;
        .card-statistics__activity-history--activity {
            display: flex;
            padding-bottom: 32px;

            .card-statistics__activity-history--activity-left {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 4px;

                .card-statistics__activity-history--activity-left-id {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightXL;
                    color: $colorBlue;
                    cursor: pointer;
                }

                .card-statistics__activity-history--activity-left-name-phone {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightXL;
                    color: $colorBlack;
                }

                .card-statistics__activity-history--activity-left-date {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    color: $colorGray;
                    opacity: $opacityS;
                    text-transform: capitalize;
                }
            }

            .card-statistics__activity-history--activity-line {
                width: 15%;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-bottom: -32px;

                .card-statistics__activity-history--activity-line-icon {
                    padding: 8px 8px;
                    width: fit-content;
                    height: fit-content;
                    border-radius: $borderRadiusFull;
                    &.collaborator {
                        background-color: $colorExtraLightBlue;
                    }
                    &.admin {
                        background-color: $colorExtraLightPurple;
                    }
                    &.verify {
                        background-color: $colorExtraLightRed;
                    }
                    &.system {
                        background-color: $colorExtraLightYellow;
                    }
                    &.create {
                        background-color: $colorExtraLightGreen;
                    }
                }

                .card-statistics__activity-history--activity-line-icon-line {
                    width: 2px;
                    height: 100%;
                    background-color: $colorExtraLightGray;
                }
            }

            .card-statistics__activity-history--activity-right {
                display: flex;
                flex-direction: column;
                // gap: $gapXS;
                width: 55%;
                padding-left: 4px;

                .card-statistics__activity-history--activity-right-header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .card-statistics__activity-history--activity-right-header-service {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorBlack;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }

                    .card-statistics__activity-history--activity-right-header-money {
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;

                        &.plus {
                            color: $colorGreen;
                        }

                        &.minus {
                            color: $colorRed
                        }
                    }


                }

                .card-statistics__activity-history--activity-right-address {
                    height: 50px;

                    span {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorGray;
                        opacity: $opacityS;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }

                .card-statistics__activity-history--activity-right-status {
                    width: fit-content;
                    padding: 4px 8px;
                    border-radius: $borderRadiusM;
                    // margin-top: 4px;
                    &.collaborator {
                        background-color: $colorExtraLightBlue;
                        border: 1px solid $colorBlue;
                        color: $colorBlue;
                    }
                    &.admin {
                        background-color: $colorExtraLightGreen;
                        border: 1px solid $colorGreen;
                        color: $colorGreen;
                    }
                    &.verify {
                        background-color: $colorExtraLightRed;
                        border: 1px solid $colorRed;
                        color: $colorRed;
                    }
                    &.system {
                        background-color: $colorExtraLightYellow;
                        border: 1px solid $colorYellow;
                        color: $colorYellow;
                    }
                    &.create {
                        background-color: $colorExtraLightGreen;
                        border: 1px solid $colorGreen;
                        color: $colorGreen;
                    }

               
                    span {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                    }
                }

            }

        }
    }


}

.card-statistics__icon--layout {
    display: flex;
    gap: $gapS;
    align-items: center;

    .card-statistics__icon--layout-content {
        display: flex;
        flex-direction: column;
        gap: $gapXS;

        .card-statistics__icon--layout-content-sub {
            font-size: $textFontSizeM;
            font-weight: $fontWeightL;
            color: $colorGray;
            opacity: $opacityS;
        }

        .card-statistics__icon--layout-content-main {
            font-weight: $fontWeightL;
            font-size: $textFontSizeM;
            color: $colorBlack;
        }
    }
}