.btn-modal{
    background-color:#dcf057;
    border: none !important;
    border-radius: 5px;
    height: 35px 
}

.textInput{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid #DDDD;
}

.btn-close{
    color: red;
    border: none;
    background-color: transparent;
    height: 50px;
    width: 40px;
}
