.title-test-exam {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.note-answers {
  display: flex;
  flex-direction: column;

  .text-true {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #00b106;
    text-decoration: none;
  }

  .text-warning {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #ffce1b;
    text-decoration: none;
  }

  .text-false {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 5, 5);
    text-decoration: none;
  }
}

.div-exam-test {
  display: flex;
  flex-direction: row;

  .div-test {
    display: flex;
    flex-direction: column;
    width: 100%;

    .div-head-test {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .div-score {
        display: flex;
        flex-direction: column;

        .title-score {
          font-family: "Roboto";
          font-weight: 400;
          font-size: 16px;
          color: black;
          text-decoration: none;
        }
      }

      .div-time-test {
        display: flex;
        flex-direction: column;

        .title-time {
          font-family: "Roboto";
          font-weight: 400;
          font-size: 16px;
          color: black;
          text-decoration: none;
        }
      }
    }

    .div-question-test {
      display: flex;
      flex-direction: column;

      .title-question {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        color: black;
        text-decoration: none;
      }

      .text-answer-default {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.558);
        text-decoration: none;
      }

      .text-answer-true {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        color: #00b106;
        text-decoration: none;
      }

      .text-answer-warning {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        color: #ffce1b;
        text-decoration: none;
      }

      .text-answer-false {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        color: rgb(255, 5, 5);
        text-decoration: none;
      }
    }
  }
}

.div-tab-exam {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .item-tab-exam {
    padding: 5px;
    margin-right: 10px;
    .text-tab {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      color: rgb(182, 182, 182);
      text-decoration: none;
    }
  }
  .item-tab-exam-select {
    padding: 5px;
    border-bottom: 1px solid blue;
    margin-right: 10px;

    .text-tab {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      color: black;
      text-decoration: none;
    }
  }
}

.div-list-lesson-collaborator {
  display: flex;
  flex-direction: column;
  align-items: center;

  .div-item-lesson-collaborator {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;

    .div-title-lesson {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .text-title {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }

      .img {
        width: 50px;
        height: 50px;
      }
    }

    .text-description {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 12px;
      color: rgb(141, 138, 138);
      text-decoration: none;
    }

    .see-answer {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 12px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      text-align: end;
    }
  }

  .div-item-lesson-collaborator-hide {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(231, 231, 231);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;

    .div-title-lesson {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .text-title {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }

      .img {
        width: 50px;
        height: 50px;
      }
    }

    .text-description {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 12px;
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

    .see-answer {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 12px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      text-align: end;
    }

    .div-answer {
      max-width: 0;
      overflow: hidden;
      display: inline-block;
      transition: max-height 0.3s;
    }
  }
}
