.img_customer {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 5px;
}

.thumbnail {
  width: 300px !important;
  height: 70px !important;
  margin-right: 8px;
  border-radius: 5px;
}

.table {
  align-items: center !important;
  justify-content: center !important;
}
