.text-id {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: black;
  margin: 0;
}

// .div-service {
//   display: flex;
//   flex-direction: column;

//   .text-service {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     color: black;
//     margin: 0;
//   }
// }

.div-create {
  display: flex;
  flex-direction: column;

  .text-create {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #202223;
    margin: 0;
  }
}

.div-worktime {
  display: flex;
  flex-direction: column;

  .text-worktime {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    margin: 0;
  }
}

.text-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: black;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.text-collaborator {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-decoration-line: underline;
  color: #023e8a;
  margin: 0;
}

.text-pending {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ece200 !important;
  margin: 0;
}

.text-confirm {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: #023e8a;
}

.text-doing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  color: #023e8a;
}

.text-cancel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: #ff0000;
}
.text-done {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #00cf3a;
  text-decoration: none;
  margin: 0;
}

.filter-input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.text-money-order-customer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.text-searching {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  margin: 0;
  text-decoration: none;
}
