.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
    }

.progress-bar-cancel {
    box-shadow: rgba(247, 55, 55, 0.56) 0px 1px 8px 0px;
}

.progress-bar-success {
    box-shadow: rgba(81, 250, 55, 0.56) 0px 1px 8px 0px;
}

.progress-bar-rating {
    box-shadow: rgb(239, 252, 9, 0.56) 0px 1px 8px 0px;
}