.div-header-promotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .select-filter-promotion {
    width: 20%;
    border-radius: 4px;
  }

  .input-search-promotion {
    width: 60%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182) !important;
  }

  .btn-add-promotion-v2 {
    width: auto;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #48cae4;
    color: white;
    box-shadow: 2px 3px 2px rgb(216, 216, 216);
  }
}

.div-area-promotion {
  display: list-item;
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .text-area {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #202223;
  }
}

.text-promotion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #202223;
}

.div-add-edit {
  display: flex;
  flex-direction: row;
  float: right;

  margin-top: 20px;
}

.image-promotion-order {
  width: 10px;
  height: 10px;
  border: 0.1px solid #000000;
  border-radius: 4px;
}

.div-use-promotion {
  display: flex;
  flex-direction: column;
  align-items: end;
  .text-title-use {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #202223;
  }

  .progress-bar {
    margin: 0;
    width: 80%;
    background: none;
  }
}

.div-img-promotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  .div-name-promotion {
    display: flex;
    flex-direction: column;

    .text-title-promotion {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #b4b4b4;
    }

    .text-title-code {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #202223;
    }
  }

  .img-customer-promotion {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5px;
  }
}

.div-date-promotion {
  display: flex;
  flex-direction: column;

  .text-title-promotion {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}

.text-title-promotion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.div-doing-status-promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f2fdf5;
  border: 1px solid #16a249;
  height: 20px;
  padding: 5px;
  width: 100px;
  .text-doing-status {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #16a249;
  }
}

.div-text-upcoming {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f3f4f6;
  border: 1px solid #4b5563;
  height: 20px;
  padding: 2px;
  width: 100px;

  .text-upcoming {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4b5563;
  }
}

.div-cancel-promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #ffaeae41;
  border: 1px solid #ff0000;
  height: 20px;
  padding: 2px;
  width: 100px;
  .text-cancel-promotion {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #ff0000;
  }
}

.text-time-promotion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #000000;
}

.div-title-column-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .text-column {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
  }

  .div-direction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .icon-direction {
      width: 10px;
      height: 10px;
      padding: 0px;
    }
  }
}

@media screen and (max-width: 900px) {
  .div-header-promotion {
    display: flex;
    flex-direction: column !important;

    .select-filter-promotion {
      width: 100%;
    }

    .input-search-promotion {
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid rgb(182, 182, 182) !important;
      align-items: center;
      margin-top: 10px;
    }

    .btn-add-promotion-v2 {
      width: auto;
      height: 38px;
      border: none;
      border-radius: 5px;
      background-color: #48cae4;
      color: white;
      box-shadow: 2px 3px 2px rgb(216, 216, 216);
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 490px) {
  .div-header-promotion {
    display: flex;
    flex-direction: column !important;

    .select-filter-promotion {
      width: 100%;
    }

    .input-search-promotion {
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid rgb(182, 182, 182) !important;
      align-items: center;
      margin-top: 10px;
    }

    .btn-add-promotion-v2 {
      width: 100%;
      height: 38px;
      border: none;
      border-radius: 5px;
      background-color: #48cae4;
      color: white;
      box-shadow: 2px 3px 2px rgb(216, 216, 216);
      margin-top: 10px;
    }
  }
}
