.col-check {
  display: flex;
}

.col-img {
  display: flex;
  .input-file {
    border: none;
    width: 35%;
  }

  .div-img-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .img-thumbnail {
      width: 150px !important;
      height: 70px !important;
    }
  }
}

.btn-update {
  float: right;
  background-color: bisque;
  border: none;
  color: black;
}

.btn-update:hover {
  float: right;
  background-color: rgb(209, 235, 250);
  border: none;
  color: black;
}

.div-infomation {
  display: flex;
  flex-direction: column;

  .div-thumbnail-infomation {
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;

    .div-item-thumbnail-infomation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .img-thumbnail-infomation {
        width: 150px;
        height: 70px;
        margin: 0px 6px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }
}
