.label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: black;
  margin-bottom: 20px;
}

.input {
  margin-top: 10px;
}

.list-item {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  position: absolute;
  width: 400px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  z-index: 100;

  .div-item-add-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    border: none;
    background-color: white;
    width: 100%;

    .img-collaborator {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }

  .div-item-add-order-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d6d6d6;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 5px;

    .img-collaborator {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }

  .div-item-add-order-favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 4px;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 10px;
    padding: 5px;

    .img-collaborator {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      margin-right: 10px;
    }

    .icon-heart {
      color: red;
      margin-left: 50px;
    }
  }
}

.btn-add-collaborator-order {
  width: 40% !important;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-top: 30px;
}
