$font-01: "Roboto", sans-serif;

.container-sidebar {
  padding-top: 20px;

  .div-header {
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    .logo {
      width: 100px;
      height: 38pxpx;
    }

    .name-guvi {
      color: rgb(0, 0, 0);
      margin-left: 20px;
    }
  }

  .icon {
    margin-right: 20px;
    color: black;
  }

  .icon-right {
    color: black;
    display: flex;
    margin-left: 25%;
    margin-top: 2px;
  }

  .active-link {
    width: "10%";
    height: 60px;
    background-color: #e6e8f4;
    padding: 20px 30px;
    display: flex;
    text-decoration: none;

    .active-text {
      text-decoration: none !important;
      color: rgb(0, 0, 0);
      font-family: $font-01;
    }
  }
  .unactive-link {
    width: "10%";
    height: 60px;
    background-color: "transparent" !important;
    padding: 20px 30px;
    display: flex;
    border-bottom: 1px solid #e6e8f4;

    .unactive-text {
      text-decoration: none !important;
      color: rgb(0, 0, 0);
      font-family: $font-01;
    }
  }

  .nav {
    .active-link-nav {
      width: "10%";
      height: 60px;
      padding: 20px 60px 20px 40px;
      display: flex;
      text-decoration: none;

      .active-text-nav {
        text-decoration: none !important;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-family: $font-01;
      }
    }
    .unactive-link-nav {
      width: "10%";
      height: 60px;
      background-color: "transparent" !important;
      padding: 20px 60px 20px 40px;
      display: flex;

      .unactive-text-nav {
        text-decoration: none !important;
        color: rgb(0, 0, 0);
        font-family: $font-01;
      }
    }
  }

  .configuration {
    position: absolute;
    width: 100%;

    .active-link-configuration {
      height: 60px;
      background-color: #e6e8f4;
      padding: 20px 30px;
      display: flex;
      text-decoration: none;

      .active-text-configuration {
        text-decoration: none !important;
        color: rgb(0, 0, 0);
        font-family: $font-01;
      }
    }
    .unactive-link-configuration {
      height: 60px;
      background-color: "transparent" !important;
      padding: 20px 30px;
      display: flex;

      .unactive-text-configuration {
        text-decoration: none !important;
        color: rgb(0, 0, 0);
        font-family: $font-01;
      }
    }
  }
}
