$font-01: "Roboto", sans-serif;

.div-sidebar {
  display: flex;
  flex-direction: column;

  .div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60px;

    .img-logo {
      width: 100px;
      height: 38px;
    }
  }

  .container-sidebar {
    padding-top: 10px;

    .div-header {
      padding: 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;

      .name-guvi {
        color: rgb(0, 0, 0);
        margin-left: 20px;
      }
    }

    .icon {
      margin-right: 20px;
      color: black;
    }

    .icon-right {
      color: black;
      display: flex;
      margin-left: 25%;
      margin-top: 2px;
    }

    .li-nav-link-none {
      display: none;
      .active-link {
        width: "10%";
        height: 60px;
        background-color: #e6e8f4;
        padding: 20px 30px;
        display: flex;
        text-decoration: none;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .active-text {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
      .unactive-link {
        width: "10%";
        height: 60px;
        background-color: "transparent" !important;
        padding: 20px 30px;
        display: flex;
        border-bottom: 1px solid #e6e8f4;
        align-items: center;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .unactive-text {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
    }
    .li-nav-link {
      .active-link {
        width: "10%";
        height: 60px;
        background-color: #e6e8f4;
        padding: 20px 30px;
        display: flex;
        text-decoration: none;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .active-text {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
      .unactive-link {
        width: "10%";
        height: 60px;
        background-color: "transparent" !important;
        padding: 20px 30px;
        display: flex;
        border-bottom: 1px solid #e6e8f4;
        align-items: center;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .unactive-text {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
    }

    .nav-link-sidebar {
      .active-link-nav {
        width: "10%";
        height: 60px;
        padding: 20px 60px 20px 40px;
        display: flex;
        text-decoration: none;
        background-color: antiquewhite;

        .active-text-nav {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
      .unactive-link-nav {
        width: "10%";
        height: 60px;
        background-color: "transparent" !important;
        padding: 20px 60px 20px 40px;
        display: flex;

        .unactive-text-nav {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
    }

    .configuration {
      position: absolute;
      width: 100%;

      .active-link-configuration {
        height: 60px;
        background-color: #e6e8f4;
        padding: 20px 30px;
        display: flex;
        text-decoration: none;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .active-text-configuration {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
      .unactive-link-configuration {
        height: 60px;
        background-color: "transparent" !important;
        padding: 20px 30px;
        display: flex;

        .img-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .unactive-text-configuration {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 12px;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
}
