$font-01: "Oxygen", sans-serif;
.div-header {
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  .logo {
    width: 100px;
    height: 38pxpx;
  }

  .name-guvi {
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }
}

.icon {
  margin-right: 20px;
  color: black;
}

.active-link {
  width: "10%";
  height: 40px;
  background-color: bisque;
  padding: 10px;
  display: flex;
  border-radius: 5px;

  .active-text {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    font-family: $font-01;
  }
}
.unactive-link {
  width: "10%";
  height: 40px;
  background-color: "transparent" !important;
  padding: 10px;
  display: flex;
  border-radius: 5px;

  .unactive-text {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    font-family: $font-01;
  }
}

.input-color {
  width: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
}
