.div-info-ctv {
  display: flex;
  flex-direction: column;

  .title-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
  }

  .text-colon {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .name-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}

.div-list-item-answers {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .text-answers {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
  }

  .text-question-true {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1fcd00bc;
    margin-left: 10px;
    text-decoration: none;
  }

  .text-question-false {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
    text-decoration: none;
  }
}

.div-total-question {
  display: flex;
  flex-direction: column;

  .text-score {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
  }
}
