@import "../../@theme/style.scss";

.manage-top-up-with-draw {
    display: flex;
    flex-direction: column;
    gap: $gapM;
    padding-bottom: 16px;

    .manage-top-up-with-draw__header {
        span {
            font-weight: $fontWeightXL;
            font-size: $textFontSize3XL;
            color: $colorBlack;
        }
    }

    .manage-top-up-with-draw__filter-content {
        display: flex;
        gap: $gapM;
        .manage-top-up-with-draw__filter-content--search-field {
            width: 400px;
            overflow: hidden;
        }
    }

    .manage-top-up-with-draw__table--right-header {
        display: flex;
        gap: $gapM;
    }

}