@import "../../../@theme/style.scss";

.login-affiliate {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(90deg, $colorViolet 30%, $colorLightViolet 80%);

    .login-affiliate__card {
        width: 70%;
        max-width: 400px;
        background-color: $colorWhite;
        border-radius: $borderRadiusL;
        padding: 16px;

        .login-affiliate__card--information {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: $gapL;

            .login-affiliate__card--information-label {
                font-weight: $fontWeightXL;
                font-size: $textFontSize3XL;
                text-align: center;
            }

            .login-affiliate__card--information-slogan {
                display: flex;
                gap: $gapL;
                align-items: center;
                justify-content: center;

                .login-affiliate__card--information-slogan-icon {
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .login-affiliate__card--information-slogan-icon-color {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px;
                        background-color: $colorViolet;
                        width: fit-content;
                        border-radius: $borderRadiusFull;
                        color: $colorWhite;
                        margin-bottom: 2px;
                    }

                    .login-affiliate__card--information-slogan-icon-label {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightXL;
                    }

                    .login-affiliate__card--information-slogan-icon-sub-label {
                        font-size: $textFontSizeM;
                        font-weight: $fontWeightL;
                        color: $colorLightGray;
                        white-space: nowrap;
                    }
                }

            }

            .login-affiliate__card--information-logo {
                display: flex;
                align-items: center;
                justify-content: center;

                .login-affiliate__card--information-logo-image {
                    width: 25%;
                    height: 25%;
                }

                // height: 30%;
                // width: 30%;
            }

            .login-affiliate__card--information-line {
                position: relative;
                width: 50%;
                height: 2px;
                background-color: $colorMoreLightGray;
                border-radius: $borderRadiusL;
                margin: 0 auto;

                .login-affiliate__card--information-line-other {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $colorLightGray;
                    background-color: $colorWhite; // Đặt màu nền để chữ không bị che bởi đường thẳng
                    padding: 0 8px; // Tạo khoảng cách giữa chữ và viền nền
                }
            }

            .login-affiliate__card--information-otp {
                display: flex;

                .login-affiliate__card--information-otp-label {
                    font-size: $textFontSizeM;
                    font-weight: $fontWeightL;
                    color: $colorRed;
                }

                .login-affiliate__card--information-otp-digit {
                    display: flex;
                    gap: 10px;
                    /* Adjust spacing between inputs */
                    justify-content: center;
                    align-items: center;

                    .login-affiliate__card--information-otp-digit-number {
                        width: 50px;
                        height: 50px;
                        font-size: 24px;
                        text-align: center;
                        border: 2px solid #ccc;
                        /* Default border */
                        border-radius: 8px;
                        outline: none;
                        transition: border-color 0.3s, box-shadow 0.3s;

                    }
                }
            }

        

        }
    }
}

.login-affiliate__card--information-otp {
    display: flex;
    flex-direction: column;
    gap: $gapM;

    .login-affiliate__card--information-otp-label {
        font-size: $textFontSizeM;
        font-weight: $fontWeightL;
        color: $colorBlack;
        text-align: center;

        &.high-light {
            color: $colorOrange;
            font-weight: $fontWeightXL;
        }

        &.clickable {
            cursor: pointer;
        }

    }

    .login-affiliate__card--information-otp-digit {
        display: flex;
        gap: $gapM;
        justify-content: center;
        align-items: center;

        .login-affiliate__card--information-otp-digit-number {
            width: 50px;
            height: 50px;
            font-size: $textFontSize3XL;
            text-align: center;
            border: 3px solid $colorMoreLightGray;
            border-radius: 8px;
            outline: none;
            transition: all 0.3s ease;

            &:focus {
                border-color: $colorViolet;
            }
        }
    }

    .login-affiliate__card--information-otp-resend {}
}

.login-affiliate__card--information-person {
    display: flex;
    flex-direction: column;
    gap: $gapM;
    padding: 12px;
}