.btn-add-order {
  width: 193px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-left: 10px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
  margin-top: 5px;
}

.select-input {
  border-width: 1px;
  border-color: rgb(195, 199, 199);
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.label-customer {
  font-size: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: black;
  margin-bottom: 10px;
}

.form-picker {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
  }
}

.div-add-service {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
  }

  .div-service {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .select-service {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(59, 109, 184);
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      background-color: rgb(59, 109, 184);
    }

    .select-service-default {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(159, 159, 159);
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }

    .text-service {
      font-size: 14px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      color: rgb(255, 255, 255);
      text-align: center;
    }

    .text-service-default {
      font-size: 14px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      color: rgb(159, 159, 159);
      text-align: center;
    }
  }
}

.form-picker-hours {
  display: flex;
  flex-direction: column;

  .label-hours {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .div-hours {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .select-time {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(59, 109, 184);
      margin-bottom: 10px;
      margin-left: 10px;
      border: 1px solid rgb(59, 109, 184);
      border-radius: 5px;
      padding: 5px;
    }

    .select-time-default {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(171, 171, 171);
      margin-bottom: 10px;
      margin-left: 10px;
      border: 1px solid rgb(182, 182, 182);
      border-radius: 5px;
      padding: 5px;
    }
  }
}

.div-latLong {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-promotion {
  display: flex;
  flex-direction: row;
  .div-item-promotion {
    margin-right: 20px;
    border: 1px solid rgb(182, 182, 182);
    height: 60px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    padding-left: 8px;

    .text-code {
      font-size: 18px;
      font-family: "Roboto";
      font-weight: 500;
      line-height: 16px;
      color: black;
      text-transform: uppercase;
    }
    .text-title-promotion {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 200;
      line-height: 16px;
      color: black;
      margin-top: 5px;
    }
  }

  .div-item-promotion-selected {
    margin-right: 20px;
    border: 1px solid rgb(182, 182, 182);
    height: 60px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    padding-left: 8px;
    background-color: plum;

    .text-code {
      font-size: 18px;
      font-family: "Roboto";
      font-weight: 500;
      line-height: 16px;
      color: black;
      text-transform: uppercase;
    }

    .text-title-promotion {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 200;
      line-height: 16px;
      color: black;
      margin-top: 5px;
    }
  }
}

.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text-price {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: black;
    text-align: center;
  }
}

.div-total {
  display: flex;
  flex-direction: column;
}

.text-error {
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: rgb(216, 26, 26);
}

.list-item-place {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  position: absolute;
  width: 90%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
}

.div-auto-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
