.btn-add {
  width: 15%px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-top: 10px;
  float: right;
}

.select-input {
  border-width: 1px;
  border-color: rgb(195, 199, 199);
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.form-picker {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
  }
}

.div-add-service {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
  }

  .div-service {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .select-service {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(59, 109, 184);
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
    }

    .select-service-default {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(159, 159, 159);
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }

    .text-service {
      font-size: 14px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      color: rgb(59, 109, 184);
      text-align: center;
    }

    .text-service-default {
      font-size: 14px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      color: rgb(159, 159, 159);
      text-align: center;
    }
  }
}

.form-picker-hours {
  display: flex;
  flex-direction: column;

  .label-hours {
    font-size: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .div-hours {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .select-time {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(59, 109, 184);
      margin-bottom: 10px;
      margin-left: 10px;
      border: 1px solid rgb(59, 109, 184);
      border-radius: 5px;
      padding: 5px;
    }

    .select-time-default {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(171, 171, 171);
      margin-bottom: 10px;
      margin-left: 10px;
      border: 1px solid rgb(182, 182, 182);
      border-radius: 5px;
      padding: 5px;
    }
  }
}
