.div-list-price {
  display: flex;
  flex-direction: column;

  .div-list-item {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    border-radius: 8px;
    background-color: #ffffff;
    .div-item-city-price {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 10px;

      .div-input {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 10px 10px 0 0;
        .label-input {
          color: black;
          font-weight: 400;
          font-size: 12px;
          font-family: "Roboto";
          text-decoration: none;
          margin: 0;
        }
      }
    }

    .div-district {
      background-color: #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
      padding: 5px;
      margin-top: 10px;
      border-radius: 4px;

      .div-list-district-price {
        display: flex;
        flex-direction: column;

        .div-item-district {
          display: flex;
          flex-direction: row;
          background-color: #f4f4f4;
          padding: 5px;
          margin-top: 10px;
          border-radius: 4px;

          .div-input {
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: 10px 10px 0 0;
            .label-input {
              color: black;
              font-weight: 400;
              font-size: 12px;
              font-family: "Roboto";
              text-decoration: none;
              margin: 0;
            }
          }
        }
      }
      .btn-add-district-price-service {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: black;
        font-weight: 400;
        font-size: 12px;
        font-family: "Roboto";
        text-decoration: none;
      }
    }
  }
  .btn-delete-area-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 40px;
  }
}

.btn-add-price-service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: black;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto";
  text-decoration: none;
}
