.btn-update {
  width: 15%;
  float: right;
  background-color: bisque;
  border: none;
  color: black;
}

.btn-update:hover {
  float: right;
  background-color: rgb(209, 235, 250);
  border: none;
  color: black;
}

.select {
  width: 300px !important;
  height: 40px !important;
  margin-left: 20px;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 5px;
}

.list-item {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  position: absolute;
  width: 80%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
}

.input-seach-collaborator {
  width: 100%;
}
