@import "../../@theme/style.scss";

.form-input {
    border: 2px solid #eee;
    border-radius: 4px;
    width: 100%;
    font-size: $textFontSizeL;
    line-height: $lineHeightL;
    // height: 50px;
    padding: 10px 20px;
    transition: 0.25s ease;
    outline: none;
}

.form-input:focus {
    border-color: #6a5af9;
}

.form-field {
    position: relative;
}

.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}

.form-input:not(:placeholder-shown)+.form-label,    

.form-input:focus+.form-label {
    top: 0;
    left: 11px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: #6a5af9;
    // bor
}

.icon-dropdown {

}
  
.icon-dropdown:focus {
    rotate: 180deg;
}