@import "../../@theme/style.scss";

// Container chứa input
.form-field {
    position: relative;

    .form-field__input {
        border: 2px solid $colorMoreLightStone;
        border-radius: $borderRadiusM;
        width: 100%;
        font-size: $textFontSizeL;
        line-height: $lineHeightL;
        padding: 8px 20px;
        transition: 0.25s ease;
        outline: none;
        font-weight: $fontWeightL;
        font-size: $textFontSizeM;
        font-family: $fontFamily;
        color: $colorBlack;
    }

    .form-field__label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 21px;
        user-select: none;
        color: #d6d6d6;
        pointer-events: none;
        transition: 0.3s ease;
        font-weight: $fontWeightL;
        font-size: $textFontSizeM;
        font-family: $fontFamily;


        .form-field__label--required {
            color: #EF4444;
        }
    }

    .form-field__hide-image {
        position: absolute;
        top: 11px;
        right: 11.5px;
        padding: 13px 16px;
        background-color: #f1f5f9;
        border-left: 2px solid #eee;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .form-field__image {
        display: flex;
        gap: 6px;
        cursor: pointer;
        align-items: center;
        padding: 0px 12px;
        position: absolute;
        // padding-left: 8px;
        top: 5.5px;
        right: 1.5px;
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
        border-left: 2px solid #eee;

        .form-field__image--number {
            color: #6b7280;
            opacity: $opacityS;
        }

        .form-field__image--img {
            width: 28px;
            height: 28px;
        }



    }

    .form-field__icon {
        position: absolute;
        top: 12px;
        right: 18px;
    }

    .form-field__input:focus {
        border-color: #6a5af9;
    }

    .form-field__input:not(:placeholder-shown)+.form-field__label,

    .form-field__input:focus+.form-field__label {
        top: 0;
        left: 11px;
        padding: 0 10px;
        display: inline-block;
        background-color: white;
        color: #6a5af9;
    }

    .form-field__text-area {
        display: flex;
        align-items: center;
        justify-content: center;

        // width: 100%;
        .form-field__text-area--container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 160px;
            border: 2px dashed $colorLightGray;
            border-radius: $borderRadiusM;
            cursor: pointer;
            background-color: $colorExtraLightGray;
            transition: 0.3s all ease-out;

            &.showing-image {
                border: 0px;
                border-radius: $borderRadiusM;
            }

            &:hover {
                border-color: $colorViolet;

                .form-field__text-area--container-content .form-field__text-area--container-content-main-icon {
                    color: $colorViolet;
                }
            }

            .form-field__text-area--container-image {
                width: 100%;
                height: 100%;
                border-radius: $borderRadiusM;
            }

            .form-field__text-area--container-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 24px;


                .form-field__text-area--container-content-main-icon {
                    transition: 0.3s all ease-out;
                    font-size: 32px;
                    color: $colorGray;

                }

                .form-field__text-area--container-content-main-text {
                    margin-bottom: 8px;
                    font-size: $textFontSizeM;
                    color: $colorGray;

                    .text-bold {
                        font-weight: $fontWeightXL;
                    }
                }

                .form-field__text-area--container-content-main-sub {
                    font-style: italic;
                    color: $colorGray;
                }
            }

            .form-field__text-area--container-input {
                display: none;
            }
        }
    }
}

.form-label-unit {
    position: absolute;
    top: 14px;
    left: 12px;
}


input[type=file]::file-selector-button {
    margin-right: 10px;
    margin-top: 2px;
    border: none;
    background: #8b5cf6;
    padding: 1px 8px;
    border-radius: $borderRadiusS;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #c4b5fd;
}