@import "../../../index.scss";
@import "../../../@theme/style.scss";

.data-table__date-time {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.title-column {
  text-align: left;
}

p {
  text-decoration: none;
  margin: 0;
  text-align: left;
}

.text-size-L {
  font-size: $textFontSizeL;
}

.text-size-M {
  font-size: $textFontSizeM;
}

.text-color-1 {
  color: $color1;
}

.text-color-black {
  color: $colorBlack;
}

.text-weight-500 {
  font-weight: 500;
}

span {
  text-decoration: none;
  margin: 0;
  text-align: left;
}

.text-id-code-order {
  color: $color1;
}

.text-id-code-customer {
  color: $color1;
}

.div-date-create {
  display: flex;
  // align-items: center;
  // justify-items: center;
  flex-direction: column;

  button {
    margin-bottom: 5px;
  }
}

.div-customer-name-phone {
  .text-name-customer {
    color: $color1;
    margin: 0;
    font-weight: $fontWeightL;
  }

  .text-phone-customer {
    color: $colorBlack;
    margin: 0;
  }
}

.div-service-order {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-service {
    text-decoration: none;
  }
}

.div-date-work {
  .text-worktime {
    text-transform: capitalize;
  }
}

.div-collaborator {
  .text-pending-search {
    color: $color2;
    margin: 0;
  }

  .div-name-star {
    .div-name {
      p {
        // text-decoration-line: underline;
        color: $color1;
        margin: 0;
      }
    }

    .div-phone-star {
      display: flex;

      p {
        color: $colorBlack;
      }

      .div-star {
        display: flex;
        flex-direction: row;
        margin-left: 15px;

        .text-star {
          color: $colorBlack;
          text-decoration: none;
          margin: 0px 0px 0px 5px;
        }

        .icon-star {
          color: #f2cc0e;
          margin: auto;
        }
      }
    }
  }
}

.div-collaborator-avatar {
  display: flex;
  flex-direction: row;

  .div-avatar {
    margin-right: 10px;

    img {
      width: 50px;
    }
  }

  .div-name-star {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-decoration-line: underline;
      color: $color1;
      margin: 0;
    }

    .div-phone-star {
      display: flex;

      p {
        color: $colorBlack;
        text-decoration-line: unset !important;
      }

      .div-star {
        display: flex;
        flex-direction: row;
        margin-left: 15px;

        .text-star {
          color: $colorBlack;
          text-decoration: none;
          margin: 0px 0px 0px 5px;
        }

        .icon-star {
          color: #f2cc0e;
          margin: auto;
        }
      }
    }
  }
}

.div-type-transaction {
  p {
    text-align: center;
  }

  // .div-withdraw {
  //   background-color: $backGroundDiscount;
  //   padding: 0.2rem;
  //   border-radius: 6px;
  //   border: 1px solid $colorError;
  // }
  // .div-top-up {
  //   background-color: $colorSuccess;
  // }
}

.div-status-order {
  .text-status-pending {
    color: $color2;
    // border: 1px solid $color2;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor2;
  }

  .text-status-confirm {
    color: $color1;
    border: 1px solid $color1;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor1;
  }

  .text-status-doing {
    color: $color1;
    border: 1px solid $color1;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor1;
  }

  .text-status-done {
    color: $colorSuccess;
    border: 1px solid $colorSuccess;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColorSuccess;
  }

  .text-status-cancel {
    color: $colorError;
    border: 1px solid $colorError;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColorError;
  }
}

.div-payment {
  display: flex;
  flex-direction: column;
}

.name_customer {
  display: flex;

  .text-name-customer {
    color: $colorBlack;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 0px auto 24px;
  }
}

// phone_action_hide
.hide-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .phone-text {
    color: $colorBlack;
    text-decoration: none;
    margin: 0;
  }

  .btn-eyes {
    background-color: transparent;
    border: none;
    color: $colorBlack;
    margin: 0;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.status_request {
  .text-contacted {
    color: $colorSuccess;
  }

  .div-uncontact {
    .text-uncontact {
      color: $colorBlack;
    }

    .btn-contacted-deep2 {
      width: 5em;
      padding: 3px 0px;
      background-color: $colorSuccess;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 5px;
      border-radius: 4px;
      cursor: pointer;

      .text-btn-contact {
        color: $colorWhite;
      }
    }
  }
}

.user_contact {
  display: flex;
  flex-direction: column;
}

.text-user {
  color: $color1;
}

.div-more {
  cursor: pointer;
  color: $color1;
}

// .current-status-handle {
//   color: $colorBlack;
//   padding: 5px 0px;
//   margin: 0px 15px;
//   background-color: #e1e4da3f;
//   border-radius: 20px;
//   width: 140px;
//   p {
//       text-align: center;
//   }
// }

.code_order_star {
  display: flex;
  flex-direction: column;
}

.id_order_start {
  display: flex;
  flex-direction: column;
}

.subject-ADMIN {
  span {
    // border: 1px solid $color1;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #fff5da;
    color: rgb(255 188 10);
  }
}

.subject-KH {
  span {
    // border: 1px solid $color1;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #d9f5f0;
    color: rgb(0 189 157);
  }
}

.subject-CTV {
  span {
    // border: 1px solid $color1;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #def1fb;
    color: rgb(37 160 226);
  }
}

/* ~~~ Css dành cho table ~~~ */
.table-data {
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 1px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.75em 2em;
  border-radius: $borderRadiusM;

  // margin-top: 16px;
  // border: 2px solid black;
  // Nội dung hiển thị
  .table-data__content {}

  // Phân trang
  .table-data__pagination {
    display: flex;
    justify-content: space-between;
    background-color: $colorWhite;
  }

  .table-data__footer {
    display: flex;
    justify-content: space-between;

    .table-data__footer--left {
      display: flex;
      align-items: center;
      gap: $gapL;

      .table-data__footer--left-select {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        gap: $gapXS;

        .table-data__footer--left-select-label {
          display: flex;
          gap: $gapXS;
          align-items: center;

          span {
            font-weight: $fontWeightXL;
            font-size: $textFontSizeM;
          }
        }
      }
    }
  }
}

/* ~~~ Css dành cho bảng ~~~ */
.table__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .table__header-content--left {
    display: flex;
    gap: $gapXS;

    .table__header-content--left-label {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorBlack;
    }

    .table__header-content--left-number {
      font-size: $textFontSizeM;
      font-weight: $fontWeightXL;
    }
  }

  .table__header-content--right {
    display: flex;
    gap: $gapL;
  }
}

/* ~~~ Css dành cho các trường hợp ~~~ */
/* 1. Trường hợp trạng thái */
.case__status-text {
  display: flex;
  align-items: center;

  .case__status-text--pending {
    padding: 6px 8px;
    color: $colorYellow;
    background-color: $colorExtraLightYellow;
    border-radius: $borderRadiusM;
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
  }

  .case__status-text--done {
    padding: 6px 8px;
    color: $colorGreen;
    background-color: $colorExtraLightGreen;
    border-radius: $borderRadiusM;
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
  }

  .case__status-text--confirm {
    padding: 6px 8px;
    color: $colorBlue;
    background-color: $colorExtraLightBlue;
    border-radius: $borderRadiusM;
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
  }

  .case__status-text--doing {
    padding: 6px 8px;
    color: $colorBlue;
    background-color: $colorExtraLightBlue;
    border-radius: $borderRadiusM;
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
  }

  .case__status-text--cancel {
    padding: 6px 8px;
    color: $colorRed;
    background-color: $colorExtraLightRed;
    border-radius: $borderRadiusM;
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
  }
}

/* 2. Trường hợp ngày giao dịch */
.case__withdrawal-date {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: $gapXS;
}

/* 3. Trường hợp kiểu giao dịch */
.case__withdrawal-type-transfer {
  border-radius: $borderRadiusM;
  padding: 4px 8px;
  width: fit-content;

  &.withdrawal {
    background-color: $colorRed;
  }

  &.deposit {
    background-color: $colorYellow;
  }

  .case__withdrawal-type-transfer {
    color: $colorWhite;
    // &.withdrawal {
    //   color: $colorRed;
    // }

    // &.deposit {
    //   color: $colorGreen;
    // }
  }
}

/* 4. Trường hợp trạng thái giao dịch */
.case__transfer-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .case__transfer-status--name {
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
    padding: 6px 8px;
    width: 100%;
    text-align: center;
    border-radius: $borderRadiusFull;

    &.pending {
      background-color: $colorExtraLightYellow;
      color: $colorYellow;
    }

    &.confirm,
    &.revoke,
    &.transferred {
      background-color: $colorExtraLightBlue;
      color: $colorBlue;
    }

    &.done {
      background-color: $colorExtraLightGreen;
      color: $colorGreen;
    }

    &.cancel,
    &.out_date {
      background-color: $colorExtraLightRed;
      color: $colorRed;
    }

    &.holding {
      background-color: $colorExtraLightOrange;
      color: $colorOrange;
    }

    &.other {
      background-color: $colorMoreLightGray;
      color: $colorStone;
    }
  }
}

/* 5. Trường hợp loại giao dịch */
.case__transfer-type-transfer {
  display: flex;
  align-items: center;
  justify-content: center;

  .case__transfer-type-transfer--text {
    font-size: $textFontSizeM;
    font-weight: $fontWeightXL;
    width: 100%;
    color: $colorWhite;
    padding: 6px 8px;
    border-radius: $borderRadiusFull;
    text-align: center;

    &.withdraw {
      background-color: $colorRed;
    }

    &.top-up {
      background-color: $colorGreen;
    }
  }
}

/* 6. Trường hợp thông tin cá nhân */
.case__information {
  display: flex;
  flex-direction: column;
  align-items: center;

  .case__information--info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .case__information--info-name {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorBlue;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        color: $colorDarkBlue;
      }
    }

    .case__information--info-phone {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorLightGray
    }
  }
}

/* 7. Trường hợp loại tài khoản */
.case__type-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: $borderRadiusFull;

  &.customer {
    background-color: $colorMoreLightGray;
    color: $colorBlack;
  }

  &.collaborator {
    background-color: $colorExtraLightOrange;
    color: $colorOrange;
  }

  &.other {
    background-color: $colorMoreLightGray;
    color: $colorBlack;
  }

  .case__type-account--label {
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
    padding: 6px 8px;
    width: 100%;
    text-align: center;
    border-radius: $borderRadiusFull;
  }
}

/* 8. Trường hợp yêu cầu tạo bởi */
.case__create-by {
  display: flex;
  align-items: center;
  justify-content: center;

  .case__create-by--person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s all ease-out;

    .case__create-by--person-name {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorBlue;
      transition: 0.3s all ease;
      text-transform: capitalize;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .case__create-by--person-phone {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorLightGray;
    }

    &:hover {
      .case__create-by--person-name {
        color: $colorBlue;
      }
    }
  }
}

/* 9. Trường hợp hợp xác nhận bởi */
.case__admin-verify {
  display: flex;
  align-items: center;
  justify-content: center;

  .case__admin-verify--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .case__admin-verify--info-name {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorBlack;
      text-transform: capitalize;
    }

    .case__admin-verify--info-sub {
      font-size: $textFontSizeM;
      font-weight: $fontWeightL;
      color: $colorLightGray;
    }
  }
}

/* 10. Trường hợp hợp ngày tạo */
.case__date-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .case__date-create-date {
    font-size: $textFontSizeM;
    font-weight: $fontWeightL;
    color: $colorBlack;
  }

  .case__date-create-time {
    font-size: $textFontSizeM;
    font-weight: $fontWeightL;
    color: $colorLightGray;
  }
}

/* 11. Trường hợp số thứ tự */
.case__serial-number {
  display: flex;
  align-items: center;
  justify-content: center;

  .case__serial-number--number {
    font-size: $textFontSizeM;
    font-weight: $fontWeightL;
    color: $colorBlack;
  }
}

/* 12. Trường hợp mã (_id) */
.case__code-id {
  display: flex;
  align-items: center;
  justify-content: center;

  .case__code-id--number {
    font-weight: $fontWeightL;
    font-size: $textFontSizeM;
    color: $colorBlue;
    transition: 0.3s all ease;

    &:hover {
      color: $colorDarkBlue;
    }
  }
}

/* 13. Trường hợp số tiền */
.case__money {
  display: flex;
  justify-content: end;

  .case__money--number {
    font-weight: $fontWeightL;
    font-size: $textFontSizeM;
    color: $colorBlack;
  }
}

/* 14. Trường hợp phương thức thanh toán */
.case__payment-out {
  display: flex;
  justify-content: center;
  align-items: center;

  .case__payment-out--label {
    font-weight: $fontWeightXL;
    font-size: $textFontSizeM;
    color: $colorBlack;
  }
}

/* Các trường chỉ hiển chữ mới */
.case__normal-text {
  display: flex;
  justify-content: center;
  align-items: center;

  .case__normal-text--label {
    font-weight: $fontWeightL;
    font-size: $textFontSizeM;
    color: $colorBlack;

    &.uppercase {
      text-transform: uppercase;
    }
  }
}

/* Các trường chỉ hiển chữ */
.case__normal-text-old {
  font-weight: $fontWeightL;
  font-size: $textFontSizeM;
  color: $colorBlack;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}