@import '../../../index.scss';

.title-column {
  text-align: left;
}

p {
    text-decoration: none;
    margin: 0;
    text-align: left;
}


.text-size-L {
  font-size: $textFontSizeL;
}

.text-size-M {
  font-size: $textFontSizeM;
}

.text-color-1 {
  color: $color1;
}

.text-color-black {
  color: $colorBlack;
}

.text-weight-500 {
  font-weight: 500;
}

span {
  text-decoration: none;
  margin: 0;
  text-align: left;
}

.text-id-code-order {
  color: $color1;
}

.text-id-code-customer {
  color: $color1;
}

.div-date-create {
  display: flex;
  flex-direction: column;
}

.div-customer-name-phone {
  .text-name-customer {
    color: $color1;
    margin: 0;
    font-weight: $fontWeightL;
  }
  .text-phone-customer {
  color: $colorBlack;
    margin: 0;
  }
}

.div-service-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text-service {
    text-decoration: none;
  }
}


.div-date-work {
  .text-worktime {
    text-transform: capitalize
  }
}

.div-collaborator {
  .text-pending-search {
    color: $color2;
    margin: 0;
  }

  .div-name-star {
    .div-name {
      p {
        text-decoration-line: underline;
        color: $color1;
        margin: 0;
      }
    }
    .div-phone-star {
      display: flex;
      p {
        color: $colorBlack;
      }
      .div-star {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        .text-star {
          color: $colorBlack;
          text-decoration: none;
          margin: 0px 0px 0px 5px;
        }
        .icon-star {
          color: #f2cc0e;
          margin: auto;
        }
      }
    }
  }
}

.div-status-order {

  .text-status-pending {
    color: $color2;
    border: 1px solid $color2;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor2;
  }
  .text-status-confirm {
    color: $color1;
    border: 1px solid $color1;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor1;
  }
  .text-status-doing {
    color: $color1;
    border: 1px solid $color1;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColor1;
  }
  .text-status-done {
    color: $colorSuccess;
    border: 1px solid $colorSuccess;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColorSuccess;
  }
  .text-status-cancel {
    color: $colorError;
    border: 1px solid $colorError;
    padding: 4px;
    border-radius: 5px;
    background-color: $backGroundColorError;
  }
}

.div-payment {
  display: flex;
  flex-direction: column; 
}

.name_customer {
  display: flex;
  .text-name-customer {
    color: $colorBlack;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 0px auto 24px;
  }
}

// phone_action_hide
.hide-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .phone-text {
    color: $colorBlack;
    text-decoration: none;
    margin: 0;
  }
  .btn-eyes {
    background-color: transparent;
    border: none;
    color: $colorBlack;
    margin: 0;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.status_request {
  .text-contacted {
    color: $colorSuccess;
  }
  .div-uncontact {
    .text-uncontact {
      color: $colorBlack;
    }
    .btn-contacted-deep2 {
      width: 5em;
      padding: 3px 0px;
      background-color: $colorSuccess;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 5px;
      border-radius: 4px;
      cursor: pointer;
      .text-btn-contact {
        color: $colorWhite;
      }
    }
  }
}

.user_contact {
  display: flex;
  flex-direction: column;
}

.text-user {
  color: $color1;
}