.title-column {
  text-align: left;
}

p {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    margin: 0;
    text-align: left;
}

.text-id-code-order {
  color: #023e8a;
  font-weight: 500;
}

.text-id-code-customer {
  color: #000000;
  font-weight: 500;
}

.div-date-create {
  display: flex;
  flex-direction: column;
  .text {
    margin: 0;
  }
}

.div-customer-phone {
  .text-name-customer {
    margin: 0;
    font-size: 12px;
  }
  .text-phone-customer {
    margin: 0;
    font-size: 12px;
  }
}

.div-service-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text-service {
    text-decoration: none;
  }
}


// .div-date-work {
//   text-worktime
// }

.div-collaborator {
  .text-pending-search {
    color: #000000;
    margin: 0;
  }

  .div-name-star {
    .div-name {
      p {
        font-size: 13px;
        text-decoration-line: underline;
        color: #023e8a;
        margin: 0;
      }
    }
    .div-phone-star {
      display: flex;
      p {
        color: #000000;
      }
      .div-star {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        .text-star {
          color: #000000;
          text-decoration: none;
          margin: 0px 0px 0px 5px;
        }
        .icon-star {
          color: #f2cc0e;
          margin: auto;
        }
      }
    }
  }
}

.div-status-order {
  .text-pending {
    color: #ece200;
  }
  .text-confirm {
    color: #023e8a;
  }
  .text-doing {
    color: #023e8a;
  }
  .text-done {
    color: #00cf3a;
  }
  .text-cancel {
    color: #fd7070;
  }
}

.div-payment {
  display: flex;
  flex-direction: column; 
}

.name_customer {
  display: flex;
  .text-name-customer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 0px auto 24px;
  }
}

// phone_action_hide
.hide-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .text-phone {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin: 0;
  }
  .btn-eyes {
    background-color: transparent;
    border: none;
    color: #000000;
    margin: 0;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}