@import "../../@theme/style.scss";

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
  height: 100%;

  .header-navigation__left {
    display: flex;
    align-items: center;

    .header-navigation__left--icon {
      color: $colorGray;
      cursor: pointer;
      padding: 0.6rem;
      border-radius: 100%;
      transition-duration: 300ms;

      &:hover {
        color: $colorViolet;
        background-color: $colorExtraLightGray;
      }
    }

    .header-navigation__left--version {
      font-size: $textFontSizeM;
      font-weight: $fontWeightXL;
      color: $colorBlack;
    }
  }

  .header-navigation__right {
    display: flex;
    margin-right: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: $gapXS;

    .header-navigation__right--icon {
      position: relative;
      color: #475569;
      cursor: pointer;
      padding: 0.6rem;
      border-radius: 100%;
      transition-duration: 300ms;

      &:hover {
        color: #8b5cf6;
        background-color: #f4f4f6;
      }
    }

    .header-navigation__right--user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $gapXS;

      .header-navigation__right--user-info-name {
        font-size: $textFontSizeM;
        font-weight: $fontWeightL;
        color: $colorBlack;
      }
    }
  }
}