.form-input {
  .thumbnail {
    border: none;
  }
  .btn-form-promotion {
    width: 170px;
    height: 58px;
    left: 645px;
    top: 165px;
    margin-right: 10px;
    border: 1px solid #b941e8;
    border-radius: 5px;
    color: #b941e8;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .btn-form-promotion-default {
    width: 170px;
    height: 58px;
    left: 645px;
    top: 165px;
    margin-right: 10px;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    color: #6d6d6d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .input-promo-code {
    margin-left: 10px;
  }
  .select-type-promo {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color: #c5c3c3;
  }
}
