.container-login {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(247, 197, 226) 34%,
    rgb(246, 165, 212) 80%
  );

  .img-logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .btn-login {
    background: linear-gradient(
      90deg,
      rgb(247, 197, 226) 34%,
      rgb(246, 165, 212) 80%
    );
    border: none;
  }
  .btn-login:hover {
    background-color: rgb(132, 112, 244);
  }
}
