@import "../../../@theme/style.scss";

.custom-table-header {
    display: flex;
    align-items: center;

    &.left {
        justify-content: start;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: end;
    }

    .custom-table-header__label {
        display: flex;
        gap: $gapXS;
        align-items: center;

        .custom-table-header__label--title {
            font-size: $textFontSizeM;
            font-weight: $fontWeightXL;
            color: $colorWhite;
            text-transform: uppercase;
        }
    }
}