.btn-modal {
  background-color: #17a2b8;
  border: none !important;
  border-radius: 5px;
  height: 35px;
  -webkit-box-shadow: 1px 3px 1px #b6b5ab;
  -moz-box-shadow: 1px 3px 1px #b6b5ab;
  box-shadow: 1px 3px 1px #b6b5ab;
}

.img-thumbnail {
  width: 1000px;
  height: 100px;
}

.input-group {
  margin-bottom: 10px;
}

.select-code-phone {
  width: 300px !important;
  height: 40px !important;
}
