.btn-modal {
  background-color: #17a2b8;
  border: none !important;
  border-radius: 5px;
  height: 35px;
  -webkit-box-shadow: 1px 3px 1px #b6b5ab;
  -moz-box-shadow: 1px 3px 1px #b6b5ab;
  box-shadow: 1px 3px 1px #b6b5ab;
}

.textInput {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid #dddd;
}

.btn-close {
  color: red;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 40px;
}

.input-upload {
  border: none;
}

.img-background {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-promo {
  margin-left: 20px;
}

.form-description {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
}

.btn-form-promotion {
  background-color: plum;
  border: none;
  color: white;
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
  margin-left: 20px;
}

.btn-form-promotion-default {
  margin-right: 10px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
  margin-left: 20px;
}

.btn-form-same-promotion {
  background-color: plum;
  border: none;
  color: white;
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
  margin-left: 20px;
  width: 100px;
}

.btn-form-same-promotion-default {
  margin-right: 10px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px rgb(216, 216, 216);
  margin-left: 20px;
  width: 100px;
}

.select-type-promo {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(206, 205, 205);
}

.input-promo-amount {
  margin-left: 20px;
}
.form-discount {
  margin-left: 30px;
}
.input-promo-discount {
  width: 100px;
}

.input-promo-brand {
  text-transform: uppercase;
}

.div-list-customer {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;

  .div-item-customer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;

    .text-name-list {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      text-decoration: none;
      margin-top: 5px;
    }
  }
}

.list-item-kh {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  position: absolute;
  width: 350px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  z-index: 99999;

  .div-item {
    border-bottom: 1px solid #d6d6d6;

    .text-name {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      text-decoration: none;
    }
  }
}

.div-loop-time {
  display: flex;
  flex-direction: column;

  .div-body-loop {
    display: flex;
    flex-direction: column;

    .div-body-loop-time {
      display: flex;
      flex-direction: column;
      padding: 5px;
      background-color: #ececec90;
      border-radius: 8px;

      .div-day-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .div-day {
          display: flex;
          border: 1px solid #d6d6d6;
          padding: 5px;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          background-color: white;
          .text-day {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 14px;
            color: #000000;
            text-decoration: none;
          }
        }

        .div-day-select {
          display: flex;
          padding: 5px;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          background-color: aqua;

          .text-day {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 14px;
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.btn-add-day {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000000;
  width: 25px;
  height: 25px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  margin-top: 5px;
}

.btn-close-day {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000000;
  width: 25px;
  height: 25px;
  border: 1px solid #d7d7d7;
  border-radius: 30px;
  align-self: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}
