.headerCard {
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
  .rounded-circle {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
}

.row-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  .col-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
