.btn-add {
  width: 15%px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #48cae4;
  color: white;
  margin-left: 20px;
}

.textInput {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid #dddd;
}

.btn-close {
  color: red;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 40px;
}

.thumbnail {
  width: 200px !important;
  height: 40px !important;
}

.img-thumbnail {
  width: 200px;
  height: 40px;
}
