.div-header-collaborator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .title-cv {
    color: black;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
}

.div-container-collaborator {
  background-color: white;
  border-radius: 15px;
  width: 99%;
  margin: 10px;
  padding: 10px;
}
