.sidebar {
  background: linear-gradient(
    90deg,
    rgb(232, 232, 232) 34%,
    rgb(205, 205, 205) 80%
  );

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 910px;
}
