.container-dashboard {
  background-color: rgba(220, 220, 220, 0.667);
  min-height: 910px;

  .sidebar {
    background-color: white;

    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
    min-height: 910px;
    box-shadow: 1px 1px #e6e6e6;
  }
}
