.container-dashboard {
  background-color: rgba(220, 220, 220, 0.667);
  min-height: 910px;

  .sidebar {
    background-color: white;
    min-height: 910px;
    box-shadow: 1px 1px #e6e6e6;
    width: 15%;
  }

  .main {
    width: 85%;
  }
  .main-full {
    width: 100%;
  }
}
